<%= render 'layouts/search' %>

<% if @quotes.any? %>
  <h3><%= t "today", default: 'Today' %></h3>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Client</th>
      <th>Removal at</th>
    </tr>
    
    <% @quotes.each do |quote| %>
    <tr>
      <td><%= link_to quote.code, terms_quote_path(quote) %></td>
      <td><%= quote.client.name %></td>
      <td><%= quote.removal_at.strftime("%H:%M") %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p class='alert alert-info'><%= t "dashboard.nothing_found_for_today", default: 'No removal sheduled for today.' %></p>
<% end %>