<div class="tab-pane active" id="lA">
  <!-- CLIENT -->
  <% if current_account.companies.active.count > 1 %>
    <% if f.object.new_record? %>
      <%= f.association :company, :collection => Company.active.map{|c| [c.company_name, c.id]}, :label => "#{t 'company'}" %>
    <% else %>
      <%= f.association :company, :collection => Company.all.map{|c| [c.company_name, c.id]}, :label => "#{t 'company'}" %>
    <% end -%>
  <% else %>
    <%= f.input :company_id, :as => :hidden  %>
  <% end -%>

  <!-- CLIENT -->
  <%= f.input :client_id do %>
    <%= f.input_field :client_id, :collection => Client.order('name ASC').map{|c| [c.name, c.id]}, :class => "chzn", "data-placeholder" => "Select", :id => "select-clients" %> <%= t 'or' %> 
    <%= icon_button_link_to "#{t 'new'} client", new_client_path, icon: 'plus', level: "inverse", white: true, remote: true %>
  <% end %>

  <!-- RATING -->
  <div class="control-group">
    <label class="control-label"><%= Quote.human_attribute_name(:rating) %></label>
    <div class="controls">
      <%= f.hidden_field :rating %>
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn btn-large btn-primary rating <%= @quote.rating == 'A' ? 'active' : '' %>" type="button">A</button>
        <button class="btn btn-large btn-primary rating <%= @quote.rating == 'B' ? 'active' : '' %>" type="button">B</button>
        <button class="btn btn-large btn-primary rating <%= @quote.rating == 'C' ? 'active' : '' %>" type="button">C</button>
      </div>
    </div>
  </div>
  
  <%= f.input :contact %>
  
  <!-- REMOVAL PICKER -->
  <div class="control-group datetime_picker <%= 'error' if @quote.errors[:removal_at].present? %>">
    <label class="control-label"><abbr title="requis">*</abbr> <%= Quote.human_attribute_name(:removal_at) %></label>
    <div class="controls">
      <%= f.input_field :removal_at_picker, :label => "Removal at", :as => :datetime_picker %>
      <label class="checkbox inline">
        <%= f.check_box :pm %> PM
      </label>
      <p id="removal_at_comment" style="display: <%= @quote.pm ? 'block' : 'none' %>"><%= f.input_field :removal_at_comment, :label => false, :placeholder => "#{t 'comment'}", :class => "comment_one_liner" %></p>
      <%= f.error :removal_at %>
    </div>
  </div>
  
  <%= f.input :is_house, :label => false, :as => :radio_buttons, :collection => [["#{t 'house', default: 'House'}", true],["#{t 'apartment', default: 'Apartment'}", false]], :item_wrapper_class => "inline" %>
  <%= f.input :phone1 %>
  <%= f.input :phone2 %>
  <%= f.input :internal_address, :as => :hidden %>

  <!-- ADRESS ERRORS -->
  <% unless @quote.errors[:base].blank? %>
    <div class="alert alert-error"><a class="close">×</a><%= @quote.errors[:base].first %></div>
  <% end %>
  
  <div class="row" id="addresses">
    <%= f.fields_for :from_address do |fa| %>
      <%= fa.fields_for :address do |faa| %>
        <%= render 'address_widget', title: "#{t 'from'}", quote_address_form: fa, address_form: faa, internal: !@quote.internal_address.nil? ? (@quote.internal_address? ? "#{t 'not_internal'}" : "#{t 'internal'}") : nil %>
      <% end %>
    <% end %>
    <%= f.fields_for :to_addresses %>
    <%= f.link_to_add content_tag(:span, "#{t 'click_to_add_address'}"), :to_addresses, :id => "add-address", :class => "span3 to", :style => "display: #{@quote.internal_address? ? 'none' : 'block'}" %>
  </div>
</div>