<% if @quote.confirmed? %>
  <%= section %>
  <h3 class='with_margin'><%= t 'confirmation_details', default: 'Confirmation Details' %></h3>
  
  <p><%= t 'insurance_increase' %>: 
  <%= @quote.quote_confirmation.insurance_limit_enough? ? "#{t 'nope'}" : number_to_currency(@quote.quote_confirmation.insurance_increase) %>
  </p>
  
  <p><%= t 'franchise_cancelation' %>: <%= @quote.quote_confirmation.franchise_cancellation? ? 
  "#{t 'yessai'} (#{t 'fees'} #{@quote.account.franchise_cancellation_amount}$)" : "#{t 'nope'}" %></p>
  <p><%= t 'payment_method' %>: <%= @quote.quote_confirmation.payment_method %></p>
<% end %>