<div class="tab-pane" id="lB">
  <%= f.fields_for :rooms %>
  <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_room', default: 'Add room'}", :rooms, :class => "btn btn-primary add-link" %><br/>
  
  <% @quote.build_furniture unless @quote.furniture %>
    <%= f.fields_for :furniture do |ff| %>
      <div class="control-group integer optional">
        <%= ff.label :num_appliances, :default => 'Number of appliances' %>
        <div class='controls'>
          <%= ff.number_field :num_appliances, :class => 'span1' %>
        </div>
      </div>
      <table id="furnitures" class="table">
        <tbody>
          <tr>
            <td style="text-align:right;"><b><%= t 'kitchen' %></b></td>
            <td><%= content_tag :span, 'Table' %><%= ff.number_field :kitchen_table, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'chair', default: 'Chair'}" %><%= ff.number_field :kitchen_chair, :class => 'span1' %></td>
            <td><%= content_tag :span, 'Buffet' %><%= ff.number_field :kitchen_buffet, :class => 'span1' %></td>
          </tr>
          <tr>
            <td rowspan="3" style="text-align:right;"><b><%= t 'living_room' %></b></td>
            <td><%= content_tag :span, "#{t 'sofa_3pl', default: 'Sofa 3pl'}" %><%= ff.number_field :living_couch_3pl, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'sofa_2pl', default: 'Sofa 3pl'}" %><%= ff.number_field :living_couch_2pl, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'armchair', default: 'Armchair'}" %><%= ff.number_field :living_armchair, :class => 'span1' %></td>
          </tr>
          <tr>
            <td><%= content_tag :span, "#{t 'dining_table', default: 'Dining table' }" %><%= ff.number_field :living_table, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'wall_unit', default: 'Wall unit'}" %><%= ff.number_field :living_wall_unit, :class => 'span1' %></td>
            <td><%= content_tag :span, 'TV' %><%= ff.number_field :living_tv, :class => 'span1' %></td>
          </tr>
          <tr>
            <td colspan="3"><%= content_tag :span, "#{t 'other'}" %><%= ff.text_field :living_other, :class => 'comment_one_liner' %></td>
          </tr>
          <tr>
            <td rowspan="2" style="text-align:right;"><b><%= t 'basement' %></b></td>
            <td><%= content_tag :span, "Salon" %><%= ff.number_field :base_salon, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'shelves', default: 'Shelves'}" %><%= ff.number_field :base_shelf, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'desk', default: 'Desk'}" %><%= ff.number_field :base_desk, :class => 'span1' %></td>
          </tr>
          <tr>
            <td colspan="3"><%= content_tag :span, "#{t 'other'}" %><%= ff.text_field :base_other, :class => 'comment_one_liner' %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="3" style="text-align:right;"><b><%= t 'outside' %></b></td>
            <td><%= content_tag :span, "#{t 'tires', default: 'Tires'}" %><%= ff.number_field :outside_tire, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'lawn_mower', default: 'Lawn mower'}" %><%= ff.number_field :outside_lawn_mower, :class => 'span1' %></td>
            <td><%= content_tag :span, "#{t 'bike', default: 'Bike'}" %><%= ff.number_field :outside_bike, :class => 'span1' %></td>
          </tr>
          <tr>
            <td><%= 'Table ' %><%= ff.number_field :outside_table, :class => 'span1' %></td>
            <td><%= content_tag :span, 'BBQ' %><%= ff.number_field :outside_bbq, :class => 'span1' %></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3"><%= content_tag :span, "#{t 'other'}" %><%= ff.text_field :outside_other, :class => 'comment_one_liner' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
</div>