<%= simple_nested_form_for(@quote, :html => {:id => "quote-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Client</a></li>
        <li class=""><a href="#lB" data-toggle="tab">Details</a></li>
        <li class=""><a href="#lC" data-toggle="tab">Price</a></li>
      </ul>
      <div class="tab-content" style="width: auto;">
        <div class="tab-pane active" id="lA">
          <%= f.association :client, :input_html => {:class => "chzn", "data-placeholder" => "Select"} %>
          <div class="control-group">
            <label class="control-label"> Rating</label>
            <div class="controls">
              <%= f.hidden_field :rating %>
              <%= button_link_to f.object.rating, 'A', large: true, level: "primary" %>
            </div>
          </div>
          <%= f.input :removal_at, :as => :datetime_picker %>
          <%= f.input :is_house, :label => false, :as => :radio_buttons, :collection => [['House', true],['Apartment', false]], :item_wrapper_class => "inline" %>
          <%= f.input :phone1 %>
          <%= f.input :phone2 %>
          <div class="span4 well">
            <h4>From</h4>
            <%= f.fields_for :from_address do |fa| %>
              <%= fa.input :address %>
              <%= fa.input :city, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
              <%= fa.input :province, :collection => Address::PROVINCE %>
              <%= fa.input :postal_code %>
              <%= fa.input :country, :collection => Address::COUNTRY %>
            <% end %>
          </div>
          <div class="span4 well">
            <h4>To</h4>
            <!-- add storage button -->
            <h6>Storages</h6>
            <h6>Addresses</h6>
            <p>// To Address</p>
            <p>// 1 or 2 different addresses</p>
            <p>// Enter address or select storage</p>
          </div>
        </div>
        <div class="tab-pane" id="lB">
          <%= f.fields_for :rooms %>
          <p><%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + " Add Room", :rooms, :class => "btn btn-primary" %></p>
          <%= f.input :nb_appliance %>
          <%= f.input :num_of_removal_man %>
          <%= f.input :comment, :input_html => { :rows => 10, :class => "span4" } %>
        </div>
        <div class="tab-pane" id="lC">
          <div class="control-group float optional">
            <%= f.label :price %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :price, :class => 'span2 input-append' %><span class="add-on">$</span>
              </div>
            </div>
          </div>
          <div class="control-group float optional">
              <%= f.label :gas %>
              <div class="controls">
                <div class='input-append'>
                  <%= f.text_field :gas, :class => 'span2 input-append' %><span class="add-on">$</span>
                </div>
              </div>
            </div>
          <%= f.input :transport_time %>
          <%= f.input :insurance %>
          <%= f.association :trucks, :collection => Truck.all.map{|s| [s.name_with_plate, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to search or click here to select trucks", :multiple => true, :style => "width: 400px;"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Quote.Form.init();
  });
</script>