<%= simple_nested_form_for(@quote, :html => {:id => "quote-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Client</a></li>
        <li class=""><a href="#lB" data-toggle="tab">Details</a></li>
        <li class=""><a href="#lC" data-toggle="tab">Price</a></li>
      </ul>
      <div class="tab-content" style="width: auto;">
        <div class="tab-pane active" id="lA">
          <%= f.input :client_id do %>
            <%= f.input_field :client_id, :collection => Client.all.map{|c| [c.name, c.id]}, :class => "chzn", "data-placeholder" => "Select", :id => "select-clients" %>
            <%= icon_button_link_to "New Client", new_client_path, icon: 'plus', level: "inverse", white: true, remote: true %>
          <% end %>
          
          <div class="control-group">
            <label class="control-label"> Rating</label>
            <div class="controls">
              <%= f.hidden_field :rating %>
              <%= button_link_to f.object.rating, 'A', large: true, level: "primary" %>
            </div>
            <!-- <div class="btn-group" data-toggle="buttons-radio">
                          <button class="btn">Left</button>
                          <button class="btn">Middle</button>
                          <button class="btn">Right</button>
                        </div> -->
          </div>
          <%= f.input :removal_at, :as => :datetime_picker %>
          <%= f.input :is_house, :label => false, :as => :radio_buttons, :collection => [['House', true],['Apartment', false]], :item_wrapper_class => "inline" %>
          <%= f.input :phone1 %>
          <%= f.input :phone2 %>
          <div class="span3 well address">
            <h4>From</h4>
            <%= f.fields_for :from_address do |fa| %>
              <%= fa.fields_for :address do |faa| %>
                <%= faa.input :address %>
                <%= faa.input :city, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                <%= faa.input :province, :collection => Address::PROVINCE %>
                <%= faa.input :postal_code %>
                <%= faa.input :country, :collection => Address::COUNTRY %>
              <% end %>
            <% end %>
          </div>
          
          <!-- TO ADDRESS 1 -->
          <% @quote.build_to_address1.build_address unless @quote.to_address1 %>
          <div class="span3 well address">
            <h4>To</h4>
            <%= f.fields_for :to_address1 do |fa| %>
              <%= fa.fields_for :address do |faa| %>
                <%= faa.input :address %>
                <%= faa.input :city, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                <%= faa.input :province, :collection => Address::PROVINCE %>
                <%= faa.input :postal_code %>
                <%= faa.input :country, :collection => Address::COUNTRY %>
              <% end %>
            <% end %>
            <!-- add storage button -->
            <h6>Select Storage</h6>
            <%= f.association :storage, :label => false, :input_html => {:class => "chzn-deselectable", "data-placeholder" => "Select"} %>
          </div>
          
          <!-- TO ADDRESS 2 -->
          <% @quote.build_to_address2.build_address unless @quote.to_address2 %>
          <div class="span3 address <%= @quote.to_address2.address.all_blank? ? 'holder' : 'well' %>" id="holder">
            <div id="to-address2" style="display: <%= @quote.to_address2.address.all_blank? ? 'none' : 'block' %>">
            <%= f.fields_for :to_address2 do |fa| %>
              <%= fa.fields_for :address do |faa| %>
                <%= link_to "Remove", '#', :id => "remove-address2" %>
                <%= faa.input :address %>
                <%= faa.input :city, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                <%= faa.input :province, :collection => Address::PROVINCE %>
                <%= faa.input :postal_code %>
                <%= faa.input :country, :collection => Address::COUNTRY %>
              <% end %>
            <% end %>
            </div>
            <%= link_to 'Click to add address', "#", :id => "add-address2", :style => "display: #{@quote.to_address2.address.all_blank? ? 'block' : 'none'}" %>
          </div>
        </div>
        <div class="tab-pane" id="lB">
          <%= f.fields_for :rooms %>
          <p><%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + " Add Room", :rooms, :class => "btn btn-primary" %></p><br/>
          <!%= render 'furniture_fields' %>
          <% @quote.build_furniture unless @quote.furniture %>
            <%= f.fields_for :furniture do |ff| %>
              <%= ff.input :num_appliances %>
              <div class="control-group float optional">
                <%= f.label "Kitchen", :style => 'font-weight: bold;' %>
                <div class="controls">
                  <p><%= 'Table ' %><%= ff.number_field :kitchen_table, :class => 'span1' %>
                  <%= 'Chairs ' %><%= ff.number_field :kitchen_chair, :class => 'span1' %>
                  <%= 'Buffets ' %><%= ff.number_field :kitchen_buffet, :class => 'span1' %></p><br/>
                </div>
                <%= f.label "Living room", :style => 'font-weight: bold;' %>
                <div class="controls">
                  <p><%= 'Divan 3pl ' %><%= ff.number_field :living_couch_3pl, :class => 'span1' %>
                  <%= 'Divan 2pl ' %><%= ff.number_field :living_couch_2pl, :class => 'span1' %>
                  <%= 'Fauteuil ' %><%= ff.number_field :living_armchair, :class => 'span1' %></p>
                  <p><%= 'Table de salon ' %><%= ff.number_field :living_table, :class => 'span1' %>
                  <%= 'Unité murale ' %><%= ff.number_field :living_wall_unit, :class => 'span1' %>
                  <%= 'TV ' %><%= ff.number_field :living_tv, :class => 'span1' %></p>
                  <p><%= 'Autres ' %><%= ff.text_field :living_other, :class => 'comment_one_liner', :style => 'width:350px;' %></p><br/>
                </div>
              
                <%= f.label "Basement", :style => 'font-weight: bold;' %>
                <div class="controls">
                  <p><%= 'Salon ' %><%= ff.number_field :base_salon, :class => 'span1' %>
                  <%= 'Étagères ' %><%= ff.number_field :base_shelf, :class => 'span1' %>
                  <%= 'Bureau ' %><%= ff.number_field :base_desk, :class => 'span1' %></p>
                  <p><%= 'Autres ' %><%= ff.text_field :base_other, :class => 'comment_one_liner', :style => 'width:350px;' %></p><br/>
                </div>
                <%= f.label "Extérieur", :style => 'font-weight: bold;' %>
                <div class="controls">
                  <p><%= 'Pneus ' %><%= ff.number_field :outside_tire, :class => 'span1' %>
                  <%= 'Tondeuse ' %><%= ff.number_field :outside_lawn_mower, :class => 'span1' %>
                  <%= 'Vélo ' %><%= ff.number_field :outside_bike, :class => 'span1' %></p>
                  <p><%= 'Table ' %><%= ff.number_field :outside_table, :class => 'span1' %>
                  <%= 'BBQ ' %><%= ff.number_field :outside_bbq, :class => 'span1' %></p>
                  <p><%= 'Autres ' %><%= ff.text_field :outside_other, :class => 'comment_one_liner', :style => 'width:350px;' %></p>
                </div>
              </div>
            <% end %>
        </div>
        <div class="tab-pane" id="lC">
          <div class="control-group float optional">
            <%= f.label :price %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :price, :class => 'span1 input-append' %><span class="add-on">$</span>
              </div>
            </div>
          </div>
          <div class="control-group float optional">
              <%= f.label :gas %>
              <div class="controls">
                <div class='input-append'>
                  <%= f.text_field :gas, :class => 'span1 input-append' %><span class="add-on">$</span>
                </div>
              </div>
            </div>
          <%= f.input :num_of_removal_man, :class => 'span1' %>
          <%= f.input :transport_time %>
          <%= f.input :insurance %>
          <%= f.input :materiel, :class => 'span1' %>
          <%= f.association :trucks, :collection => Truck.all.map{|s| [s.name_with_plate, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to search or click here to select trucks", :multiple => true, :style => "width: 400px;"} %>
          <%= f.input :comment, :input_html => { :rows => 10, :class => "span4" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Quote.Form.init();
  });
</script>