<% body_class('quotes') %>

<%= simple_nested_form_for(@quote, :html => {:id => "quote-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="tabbable tabs row">
      <ul class="nav nav-tabs span12">
        <li class="active"><a href="#lA" data-toggle="tab">Client</a></li>
        <li class=""><a href="#lB" data-toggle="tab">Details</a></li>
        <li class=""><a href="#lC" data-toggle="tab">Price</a></li>
        <li class=""><a href="#lD" data-toggle="tab">Documents</a></li>
      </ul>
      <div class="tab-content span12">
        <%= render 'client_tab', :f => f %>
        <%= render 'details_tab', :f => f %>
        <%= render 'price_tab', :f => f %>
        <%= render 'document_tab', :f => f %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Quote.Form.init();
  });
</script>