<% body_class('quotes') %>

<%= simple_nested_form_for(@quote, :html => {:id => "quote-form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Client</a></li>
        <li class=""><a href="#lB" data-toggle="tab">Details</a></li>
        <li class=""><a href="#lC" data-toggle="tab">Price</a></li>
      </ul>
      <div class="tab-content" style="width: auto;">
        <div class="tab-pane active" id="lA">
          <!-- CLIENT -->
          <%= f.input :client_id do %>
            <%= f.input_field :client_id, :collection => Client.all.map{|c| [c.name, c.id]}, :class => "chzn", "data-placeholder" => "Select", :id => "select-clients" %>
            <%= icon_button_link_to "New Client", new_client_path, icon: 'plus', level: "inverse", white: true, remote: true %>
          <% end %>
          
          <!-- RATING -->
          <div class="control-group">
            <label class="control-label">Rating</label>
            <div class="controls">
              <%= f.hidden_field :rating %>
              <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-large btn-primary rating <%= @quote.rating == 'A' ? 'active' : '' %>" type="button">A</button>
                <button class="btn btn-large btn-primary rating <%= @quote.rating == 'B' ? 'active' : '' %>" type="button">B</button>
                <button class="btn btn-large btn-primary rating <%= @quote.rating == 'C' ? 'active' : '' %>" type="button">C</button>
              </div>
            </div>
          </div>
          <%= f.input :removal_at, :as => :datetime_picker %>
          <%= f.input :is_house, :label => false, :as => :radio_buttons, :collection => [['House', true],['Apartment', false]], :item_wrapper_class => "inline" %>
          <%= f.input :phone1 %>
          <%= f.input :phone2 %>
          
          <!-- ADRESS ERRORS -->
          <% unless @quote.errors[:to_address1].blank? %>
          <div class="alert alert-error"><a class="close">×</a><%= f.error :to_address1 %></div>
          <% end %>
          <% unless @quote.errors[:from_address].blank? %>
          <div class="alert alert-error"><a class="close">×</a><%= f.error :from_address %></div>
          <% end %>
          <div class="span3 well address">
            <h3>From</h3>
            <%= f.fields_for :from_address do |fa| %>
              <%= fa.fields_for :address do |faa| %>
                <%= faa.input :address, :required => true %>
                <%= faa.input :city, :required => true, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                <%= faa.input :province, :collection => Address::PROVINCE %>
                <%= faa.input :postal_code, :required => true %>
                <%= faa.input :country, :collection => Address::COUNTRY %>
              <% end %>
            <% end %>
          </div>
          
          <!-- TO ADDRESS 1 -->
          <% @quote.build_to_address1.build_address unless @quote.to_address1 %>
          <div class="span3 well address">
            <div class="title">
              <h3>To</h3>
              <h6>
                <%= link_to 'Select Storage', '#', :id => "select-storage", :style => "display:#{@quote.has_storage? ? 'none' : 'block'}" %>
                <%= link_to 'Enter Address', '#', :id => "remove-storage", :style => "display:#{@quote.has_storage? ? 'block' : 'none'}" %>
              </h6>
            </div>
            <div id="to-address1" style="display:<%= @quote.has_storage? ? 'none' : 'block' %>">
              <%= f.fields_for :to_address1 do |fa| %>
                <%= fa.fields_for :address do |faa| %>
                  <%= faa.input :address, :required => true %>
                  <%= faa.input :city, :required => true, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                  <%= faa.input :province, :collection => Address::PROVINCE %>
                  <%= faa.input :postal_code, :required => true %>
                  <%= faa.input :country, :collection => Address::COUNTRY %>
                <% end %>
              <% end %>
            </div>
            <!-- add storage button -->
            <div id="storage-field" style="display:<%= @quote.has_storage? ? 'block' : 'none' %>">
              <%= f.association :storage, :input_html => {:class => "chzn-deselectable", "data-placeholder" => "Select", :id => "storages"} %>
            </div>
          </div>
          
          <!-- TO ADDRESS 2 -->
          <% @quote.build_to_address2.build_address unless @quote.to_address2 %>
          <div class="span3 address <%= @quote.to_address2.address.all_blank? ? 'holder' : 'well' %>" id="holder">
            <div id="to-address2" style="display: <%= @quote.to_address2.address.all_blank? ? 'none' : 'block' %>">
            <%= f.fields_for :to_address2 do |fa| %>
              <%= fa.fields_for :address do |faa| %>
                <div class="title">
                  <h3>&nbsp;</h3>
                  <h6><%= link_to "Enter Address", '#', :id => "remove-address2" %></h6>
                </div>
                <%= faa.input :address, :required => true %>
                <%= faa.input :city, :required => true, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
                <%= faa.input :province, :collection => Address::PROVINCE %>
                <%= faa.input :postal_code, :required => true %>
                <%= faa.input :country, :collection => Address::COUNTRY %>
              <% end %>
            <% end %>
            </div>
            <%= link_to 'Click to add address', "#", :id => "add-address2", :style => "display: #{@quote.to_address2.address.all_blank? ? 'block' : 'none'}" %>
          </div>
        </div>
        <div class="tab-pane" id="lB">
          <%= f.fields_for :rooms %>
          <p><%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + " Add Room", :rooms, :class => "btn btn-primary" %></p><br/>
          <% @quote.build_furniture unless @quote.furniture %>
            <%= f.fields_for :furniture do |ff| %>
              <div class="control-group integer optional">
                <%= ff.label :num_appliances, :default => 'Number of appliances' %>
                <div class='controls'>
                  <%= ff.number_field :num_appliances, :class => 'span1' %>
                </div>
              </div>
              <table id="furnitures" class="table">
                <tbody>
                  <tr>
                    <td style="text-align:right;"><b>Kitchen</b></td>
                    <td><%= content_tag :span, 'Table' %><%= ff.number_field :kitchen_table, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Chair' %><%= ff.number_field :kitchen_chair, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Buffet' %><%= ff.number_field :kitchen_buffet, :class => 'span1' %></td>
                  </tr>
                  <tr>
                    <td rowspan="3" style="text-align:right;"><b>Living Room</b></td>
                    <td><%= content_tag :span, 'Divan 3pl' %><%= ff.number_field :living_couch_3pl, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Divan 2pl' %><%= ff.number_field :living_couch_2pl, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Fauteuil' %><%= ff.number_field :living_armchair, :class => 'span1' %></td>
                  </tr>
                  <tr>
                    <td><%= content_tag :span, 'Table de salon' %><%= ff.number_field :living_table, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Unité murale' %><%= ff.number_field :living_wall_unit, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'TV' %><%= ff.number_field :living_tv, :class => 'span1' %></td>
                  </tr>
                  <tr>
                    <td colspan="3"><%= content_tag :span, 'Autres' %><%= ff.text_field :living_other, :class => 'comment_one_liner' %></td>
                  </tr>
                  <tr>
                    <td rowspan="2" style="text-align:right;"><b>Basement</b></td>
                    <td><%= content_tag :span, 'Salon' %><%= ff.number_field :base_salon, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Étagères' %><%= ff.number_field :base_shelf, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Bureau' %><%= ff.number_field :base_desk, :class => 'span1' %></td>
                  </tr>
                  <tr>
                    <td colspan="3"><%= content_tag :span, 'Autres' %><%= ff.text_field :base_other, :class => 'comment_one_liner' %></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td rowspan="3" style="text-align:right;"><b>Extérieur</b></td>
                    <td><%= content_tag :span, 'Pneus' %><%= ff.number_field :outside_tire, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Tondeuse' %><%= ff.number_field :outside_lawn_mower, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'Vélo' %><%= ff.number_field :outside_bike, :class => 'span1' %></td>
                  </tr>
                  <tr>
                    <td><%= 'Table ' %><%= ff.number_field :outside_table, :class => 'span1' %></td>
                    <td><%= content_tag :span, 'BBQ' %><%= ff.number_field :outside_bbq, :class => 'span1' %></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3"><%= content_tag :span, 'Autres' %><%= ff.text_field :outside_other, :class => 'comment_one_liner' %></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
        </div>
        <div class="tab-pane" id="lC">
          <div class="control-group float optional">
            <%= f.label :price %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :price, :class => 'span1 input-append' %><span class="add-on">$</span>
              </div>
            </div>
          </div>
          <div class="control-group float optional">
            <%= f.label :gas %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :gas, :class => 'span1 input-append' %><span class="add-on">$</span>
              </div>
            </div>
          </div>
          <div class="control-group float optional">
            <%= f.label :num_of_removal_man %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :num_of_removal_man, :class => 'span1 input-append' %><span class="add-on"><i class="icon-user"></i></span>
              </div>
            </div>
          </div>
          <div class="control-group float optional">
            <%= f.label :transport_time %>
            <div class="controls">
              <div class='input-append'>
                <%= f.text_field :transport_time, :class => 'span1 input-append' %><span class="add-on"><i class="icon-time"></i></span>
              </div>
            </div>
          </div>
          <%= f.input :insurance %>
          <%= f.input :materiel %>
          <%= f.association :trucks, :collection => Truck.all.map{|s| [s.name_with_plate, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to search or click here to select trucks", :multiple => true, :style => "width: 400px;"} %>
          <%= f.input :comment, :input_html => { :rows => 10, :class => "span4" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Quote.Form.init();
  });
</script>