<%= render 'quotes/trucks' %>

<% if @quote.quote_supplies.any? %>
  <%= section %>
  <h3 class='with_margin'><%= Supply.model_name.human + 's' %></h3>
  <ul>
    <% @quote.quote_supplies.each do |q_supply| %>
      <li><%= q_supply.quantity %> * <%=q_supply.supply.name_with_price %></li>
    <% end %>
  </ul>
<% end %>

<% if @quote.forfaits.any? %>
  <%= section %>
  <h3 class='with_margin'>Forfaits</h3>
  <ul>
    <% @quote.forfaits.each do |forfait| %>
      <li><%= link_to forfait.name_with_price, '#', "rel"=>"popover", "data-original-title"=>"#{forfait.name_with_price}",
        "data-content"=>"#{simple_format(forfait.description)}" %></li>
    <% end %>
  </ul>
<% end %>