<p>
  <b>Nombre de déménageurs:</b>
  <%= @quote.num_of_removal_man %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@quote.price) %> par heure
</p>

<p>
  <b>Gas:</b>
  <%= number_to_currency(@quote.gas) %>
</p>

<p>
  <b>Transport time:</b>
  <%= @quote.transport_time %><% if @quote.long_distance %> <%= content_tag(:span, '(Long distance)', :class => 'label label-warning label_override') %><% end %>
</p>

<p>
  <b>Insurance:</b>
  <%= @quote.insurance? ? 'Included' : 'Not included' %>
</p>

<p>
  <b>Matériel:</b>
  <%= @quote.materiel? ? 'Included' : 'Not included' %>
</p>