<div class="tab-pane" id="lC">
  <div class="control-group float optional">
    <%= f.label :price %>
    <div class="controls">
      <div class='input-append'>
        <%= f.text_field :price, :class => 'span1 input-append' %><span class="add-on">$</span> par heure
      </div>
    </div>
  </div>
  <div class="control-group float optional">
    <%= f.label :gas %>
    <div class="controls">
      <div class='input-append'>
        <%= f.text_field :gas, :class => 'span1 input-append' %><span class="add-on">$</span>
      </div>
    </div>
  </div>
  <div class="control-group float optional">
    <%= f.label :num_of_removal_man %>
    <div class="controls">
      <div class='input-append'>
        <%= f.text_field :num_of_removal_man, :class => 'span1 input-append' %><span class="add-on"><i class="icon-user"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group float optional">
    <%= f.label :transport_time %>
    <div class="controls">
      <div class='input-append'>
        <%= f.text_field :transport_time, :class => 'span1 input-append' %><span class="add-on"><i class="icon-time"></i></span>
      </div>
      <label class="checkbox inline">
        <%= f.check_box :long_distance %> Long distance
      </label>
    </div>
  </div>
  <%= f.input :insurance %>
  <%= f.input :materiel %>
  <%= f.fields_for :quote_supplies %>
  <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + " Add Supply", :quote_supplies, :class => "btn btn-primary add-link", :id => "add-supply" %>
  <%= f.association :forfaits, :collection => current_account.forfaits.all.map{|s| [s.name_with_price, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to select forfaits", :multiple => true, :style => "width: 360px;"} %>
  <%= f.association :trucks, :collection => current_account.trucks.all.map{|s| [s.name_with_plate, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to select trucks", :multiple => true, :style => "width: 360px;"} %>
  <%= f.input :comment, :input_html => { :rows => 10, :class => "span4" } %>
</div>