<div class="modal" id="print-modal">
  <%= form_tag print_quote_path(:format => :pdf), :method => :get do %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= t 'select_addresses_to_print', default: 'Select addresses to print' %></h3>
  </div>
  <div class="modal-body">
    <%= render 'print_form' %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t 'close' %></a>
    <%= submit_tag t('print', default: 'Print'), class: "btn btn-primary", name: nil %>
  </div>
  <% end %>
</div>

<div class="modal" id="fullprint-modal">
  <%= form_tag fullprint_quote_path(:format => :pdf), :method => :get do %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= t 'select_addresses_to_print', default: 'Select addresses to print' %></h3>
  </div>
  <div class="modal-body">
    <%= render 'print_form' %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t 'close' %></a>
    <%= submit_tag t('print', default: 'Print'), class: "btn btn-primary", name: nil %>
  </div>
  <% end %>
</div>