<h3><%= t 'from' %> <%= "#{t 'internal'}" if @quote.internal_address %></h3>
<div class="address">
<% if @quote.from_address.has_storage? %>
  <h6><%= t 'storage' %>: <%= @quote.from_address.storage.name %></h6>
  <%= address_for(@quote.from_address.storage.address) %>
<% else %>
  <h6><%= t 'address' %></h6>
  <%= address_for(@quote.from_address.address) %>        
<% end %>
</div>

<h3><%= t 'to' %></h3>
<% if !@quote.to_addresses.blank? %>
  <% for to_address in @quote.to_addresses %>
    <div class="address">
    <%= check_box_tag 'to[]', to_address.id %>  
    <% if to_address.has_storage? %>
      <h6><%= t 'storage' %>: <%= to_address.storage.name %></h6>
      <%= address_for(to_address.storage.address) %>
    <% else %>
      <h6><%= t 'address' %></h6>
      <%= address_for(to_address.address) %>        
    <% end %>
    </div>
  <% end %>
<% end %>