<p>
  <b><%= t 'nb_removal_men', default: 'Nb of removal men' %>:</b>
  <%= @quote.num_of_removal_man %>
</p>

<p>
  <b><%= t 'price' %>:</b>
  <%= number_to_currency(@quote.price) %> <%= t 'per_hour' %>
</p>

<p>
  <b><%= t 'gas' %>:</b>
  <%= number_to_currency(@quote.gas) %>
</p>

<p>
  <b><%= t 'transport_time', default: 'Transport time' %>:</b>
  <%= @quote.transport_time %><% if @quote.long_distance %> <%= content_tag(:span, "(#{t 'long_distance'})", :class => 'label label-warning label_override') %><% end %>
</p>

<p>
  <b><%= t 'insurance' %>:</b>
  <%= @quote.insurance? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>

<p>
  <b><%= t 'equipment' %>:</b>
  <%= @quote.materiel? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>

<% if @quote.deposit.present? %>
<p>
  <b><%= t 'deposit_received' %>:</b>
  <%= number_to_currency(@quote.deposit.amount) %> - <%= l @quote.deposit.date, format: :long %> - <%= t "#{@quote.deposit.payment_method}" %>
  <%= "(#{t '@quote.deposit.credit_card_type'})" if @quote.deposit.credit_card_type.present? %>
</p>
<% end %>