<p>
  <b><%= t 'removal_men', default: 'Removal men' %>:</b>
  <%= @quote.num_of_removal_man %> <%= "- #{@quote.removal_men.map(&:full_name).to_sentence}" if @quote.removal_men.any? %>
</p>

<p>
  <b><%= t 'price' %>:</b>
  <%= number_to_currency(@quote.price, strip_insignificant_zeros: true) %> <%= t 'per_hour' %>
</p>

<p>
  <b><%= t 'gas' %>:</b>
  <%= number_to_currency(@quote.gas, strip_insignificant_zeros: true) %>
</p>

<% if @quote.surcharges.any? %>
  <% @quote.surcharges.each do |surcharge| %>
    <p>
      <b><%= surcharge.label %>:</b>
      <%= number_to_currency(surcharge.price, strip_insignificant_zeros: true) %>
    </p>
  <% end %>
<% end %>

<p>
  <b><%= t 'transport_time', default: 'Transport time' %>:</b>
  <%= @quote.transport_time %><% if @quote.long_distance %> <%= content_tag(:span, "(#{t 'long_distance'})", :class => 'label label-warning label_override') %><% end %>
</p>

<% if @quote.from_address.has_storage? %>
  <p><b><%= t "#{Storage.model_name.human}" %>:</b></p>
  <h6><%= @quote.from_address.storage.name %></h6>
  <p>
    <b><%= t 'price_per_month' %>:</b> <%= number_to_currency(@quote.from_address.price, strip_insignificant_zeros: true) %>
    <% if @quote.from_address.insurance.present? %>
      + <%= t 'insurance' %>: <%= number_to_currency(@quote.from_address.insurance, strip_insignificant_zeros: true) %>
    <% end %>
  </p>
<% end %>

<% if !@quote.to_addresses.blank? %>
  <% for to_address in @quote.to_addresses %>
    <% if to_address.has_storage? %>
      <h6><%= to_address.storage.name %></h6>
      <p>
        <b><%= t 'price_per_month' %>:</b> <%= number_to_currency(to_address.price, strip_insignificant_zeros: true) %>
        <% if to_address.insurance.present? %>
          + <%= t 'insurance' %>: <%= number_to_currency(to_address.insurance, strip_insignificant_zeros: true) %>
        <% end %>
      </p>        
    <% end %>
  <% end %>
<% end %>

<p>
  <b><%= t 'insurance' %>:</b>
  <%= @quote.insurance? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>

<p>
  <b><%= t 'equipment' %>:</b>
  <%= @quote.materiel? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>

<% if @quote.deposit.present? %>
<p>
  <b><%= t 'deposit_received' %>:</b>
  <%= number_to_currency(@quote.deposit.amount, strip_insignificant_zeros: true) %> - <%= l @quote.deposit.date, format: :long %> - <%= t "#{@quote.deposit.payment_method}" %>
  <%= "(#{t @quote.deposit.credit_card_type})" if @quote.deposit.credit_card_type.present? %>
</p>
<% end %>