<p>
  <b>Nombre de déménageurs:</b>
  <%= @quote.num_of_removal_man %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@quote.price) %>
</p>

<p>
  <b>Gas:</b>
  <%= number_to_currency(@quote.gas) %>
</p>

<p>
  <b>Transport time:</b>
  <%= @quote.transport_time %>
</p>

<p>
  <b>Insurance:</b>
  <%= @quote.insurance? ? 'Included' : 'Not included' %>
</p>

<p>
  <b>Matériel:</b>
  <%= @quote.materiel? ? 'Included' : 'Not included' %>
</p>

<% if @quote.forfaits.any? %>
  <p><b>Forfaits</b></p>
  <% @quote.forfaits.each do |forfait| %>
  <ul>
    <li><%= forfait.name_with_price %></li>
  </ul>
  <% end %>
<% end %>

<p>
  <b>Créée par:</b>
  <%= @quote.creator.full_name %>
</p>