<div class="clearfix well">
  <%= form_tag '', method: :get, class: "form-inline form-search" do %>
    <%= hidden_field_tag 'sort', params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <%= text_field_tag 'search', params[:search], placeholder: "Client, ID...", class: 'span2' %>
    <% if period_search %>
      <%= t 'from_date', default: 'From' %>
      <div class="input-append">
        <%= text_field_tag '', params[:from], class: 'datepicker', style: "width:70px;" %>
        <%= hidden_field_tag :from, params[:from], class: "datepicker-alt" %>
        <span class="add-on clear">×</span>
      </div>
      <%= t 'to_date', default: 'And' %>
      <div class="input-append">
        <%= text_field_tag '', params[:to], class: 'datepicker', style: "width:70px;" %>
        <%= hidden_field_tag :to, params[:to], class: "datepicker-alt" %>
        <span class="add-on clear">×</span>
      </div>
    <% end %>
    <%= select_tag 'confirmed', options_for_select([[t('status'), ''], [t('q_confirmed'), 1], [t('q_not_confirmed'), 0]], params[:confirmed]), style: 'width: 135px;' %>
    <%= select_tag 'invoiced', options_for_select([[Invoice.model_name.human, ''], [t('q_invoiced'), 1], [t('q_not_invoiced'), 0]], params[:invoiced]), style: 'width: 135px;' %>
    <%= select_tag 'commercial', options_for_select([[t('client_type'), ''], [t('commercial'), 1], [t('residential'), 0]], params[:commercial]), style: 'width: 135px;' %>
    <%= select_tag :sale_representative_id, options_for_select(current_account.users.order('first_name').map{|c| [c.full_name, c.id]}, params[:sale_representative_id]), prompt: "#{t 'sale_representative'}", style: 'width: 135px;' %>
    <%= submit_tag "#{t 'search'}", class: 'btn', name: nil %>
    <% if @quotes.any? %>
      <button class="btn" type="submit" name="format" value="pdf"><i class="icon-print"></i></button>
    <% end %>
  <% end %>
</div>

<table class="table table-striped">
  <tr>
    <th><%= sortable 'code', "#{t 'ID'}" %></th>
    <th><%= sortable 'clients.name', 'Client' %></th>
    <th><%= sortable "removal_at", t('removal_at', default: 'Removal at') %></th>
    <th><%= sortable 'users.first_name', t('creator', default: 'Creator') %></th>
    <th><%= sortable 'companies.company_name', t('company') %></th>
    <% if can? :update, Quote %>
      <th></th>
    <% end %>
    <% if can? :destroy, Quote %>
      <th></th>
    <% end %>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= link_to quote.code, quote %> <%= status_tag(t(quote.status), level: quote.rejected? ? 'warning' : (quote.confirmed? ? 'success' : '')) %></td>
    <td><%= link_to quote.client.name, client_path(quote.client) %> <%= status_tag('comm.') if quote.client.commercial? %></td>
    <td><%= l quote.removal_at, :format => :long %> 
        <%= quote.removal_at.future? ? "(#{t 'in'} #{distance_of_time_in_words_to_now(quote.removal_at)})" : '' %></td>
    <td><%= quote.creator.first_name %></td>
    <td><%= quote.company.company_name %></td>
    <% if can? :update, Quote %>
    <td><%= link_to "#{t 'edit'}", edit_quote_path(quote) unless quote.signed? %></td>
    <% end %>
    <% if can? :destroy, Quote %>
      <td><%= link_to "#{t 'destroy'}", quote, data: {confirm: "#{t 'are_you_sure'}"}, method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @quotes %>