<div class="clearfix">
  <%= form_tag '', :method => :get, :class => "form-search" do %>
    <%= hidden_field_tag 'sort', params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <%= text_field_tag 'search', params[:search] %>
    <% if period_search %>
      <%= label_tag 'from' %>
      <div class="input-append">
        <%= text_field_tag '', params[:from], class: 'datepicker' %>
        <%= hidden_field_tag :from, params[:from], :class => "datepicker-alt" %>
        <span class="add-on clear">×</span>
      </div>
      <%= label_tag 'to' %>
      <div class="input-append">
        <%= text_field_tag '', params[:to], class: 'datepicker' %>
        <%= hidden_field_tag :to, params[:to], :class => "datepicker-alt" %>
        <span class="add-on clear">×</span>
      </div>
    <% end -%>
    <%= submit_tag "#{t 'search'}", class: 'btn', name: nil %>
  <% end %>
  <%= paginate @quotes %>
</div>

<table class="table table-striped">
  <tr>
    <th><%= sortable 'code', "#{t 'ID'}" %></th>
    <th><%= sortable 'clients.name', 'Client' %></th>
    <th><%= sortable "removal_at", t('removal_at', default: 'Removal at') %></th>
    <th><%= sortable 'users.first_name', t('creator', default: 'Creator') %></th>
    <th><%= sortable 'companies.company_name', t('company') %></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= link_to quote.reference, quote %> <%= status_tag(t(quote.status), level: quote.rejected? ? 'warning' : (quote.confirmed? ? 'success' : '')) %></td>
    <td><%= link_to quote.client.name, client_path(quote.client) %> <%= status_tag('comm.') if quote.client.commercial? %></td>
    <td><%= l quote.removal_at, :format => :long %> 
        <%= quote.removal_at.future? ? "(#{t 'in'} #{distance_of_time_in_words_to_now(quote.removal_at)})" : '' %></td>
    <td><%= quote.creator.first_name %></td>
    <td><%= quote.company.company_name %></td>
    <td><%= link_to "#{t 'edit'}", edit_quote_path(quote) unless quote.signed? %></td>
    <td><%= link_to "#{t 'destroy'}", quote, data: {confirm: "#{t 'are_you_sure'}"}, method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @quotes %>