<h1>
<% if @quote.company.logo.present? %>
  <% if absolute_path %>
    <%= image_tag(Rails.root.join("public", "uploads", "company", @quote.company_id.to_s, "logo", "thumb", @quote.company.logo_file_name)) %>
  <% else %>
    <%= image_tag(@quote.company.logo.url(:thumb)) %>
  <% end %>
<% else %>
  <h2 style="margin-top: 5px; padding-left:0;"><%= @quote.company.company_name %></h2>
<% end %>
  <span style='float:right; vertical-align:top;'><%= @quote.client.name_with_code %><br /><%= t "#{Quote.model_name.human}" %></b> #<%= @quote.code %></span>
  <%= simple_format(@quote.company.invoice_header, style: "font-size:10px;") if @quote.company.invoice_header.present? %>
</h1>

<p><b><%= t 'removal_at' %>:</b> <%= l @quote.removal_at, :format => :long %> <%= "(PM) #{t 'removal_time_confirmation'}" if @quote.pm? %>
      || <%= @quote.is_house? ? "#{t 'house'}" : "#{t 'apartment'}" %></p>

<% if @quote.contact.present? %>
  <p><b><%= Quote.human_attribute_name("contact") %>:</b> <%= @quote.contact %></p>
<% end %>

<%= content_tag(:p, @quote.comment, style: "background: rgb(204, 201, 201); padding: 4px;") if @quote.comment.present? %>

<!-- ADDRESSES -->
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 0; width: 50%;">
      <table style="width: 100%; padding-left: 0;" class="grey-background addresses" border="0" cellpadding="0" cellspacing="0">
        <tr><td style="padding: 0 10px 0 10px;"><h3><%= @quote.internal_address? ? t('internal_moving') : t('from') %></h3></td></tr>
        <tr>
          <td style='padding-top:0;'>
            <% if @quote.from_address.has_storage? %>
              <h6 style="padding-left:0;"><%= t 'storage' %>: <%= @quote.from_address.storage.name %></h6>
              <%= address_for(@quote.from_address.storage.address, :p) %>
            <% else %>
              <%= address_for(@quote.from_address.address, :p) %>        
            <% end %>
          </td>
        </tr>
      </table>  
    </td>
    <% if !@quote.internal_address? && !@quote.to_addresses.blank? %>
    <td style="padding-left: 0; padding-right: 0; width: 50%;">
      <table width="100%" class="grey-background addresses" border="0" cellpadding="0" cellspacing="0">
        <tr><td style="padding: 0 10px 0 10px;"><h3><%= t 'to' %></h3></td></tr>
        <tr>
          <td style='padding-top:0;'>
            <% for to_address in @quote.to_addresses %>
              <% if to_address.has_storage? %>
                <h6 style="padding-left:0;"><%= t 'storage' %>: <%= to_address.storage.name %></h6>
                <%= address_for(to_address.storage.address, :p) %>
              <% else %>
                <%= address_for(to_address.address, :p) %>  
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>  
    </td>
    <% end %>
  </tr>
</table>

<!-- ROOMS -->
<% @quote.rooms.each_with_index do |room, index| %>
  <hr/>
  <p><%= "#{t 'room'} ##{index + 1}:" %> <%= t(room.size) %> <%= room.comment %></p>
<% end %>

<!-- FURNITURE -->
<% if @quote.furniture %>
<p><%= t 'nb_appliances' %>: <%= @quote.furniture.num_appliances %></p>
<p><%= t 'nb_boxes' %>: <%= @quote.furniture.num_boxes %></p>

<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 0; width: 50%;">
      <table width="100%" class="grey-background" border="0" cellpadding="0" cellspacing="0">
        <td>
          <h3 style='margin-bottom:0;'><%= t 'kitchen' %></h3>
          <ul style='margin-top:0; margin-bottom:0;'>
            <%= content_tag(:li, pluralize(@quote.furniture.kitchen_table, 'Table')) if @quote.furniture.kitchen_table.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.kitchen_chair, "#{t 'chair'}")) if @quote.furniture.kitchen_chair.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.kitchen_buffet, 'Buffet')) if @quote.furniture.kitchen_buffet.present? %>
          </ul>
        </td>
      </table>
    </td>
    <td style="padding-right: 0;padding-left: 0;width: 50%;">
      <table width="100%" class="grey-background" border="0" cellpadding="0" cellspacing="0">
        <td>
          <h3><%= t 'living_room' %></h3>
          <ul style='margin-top:0; margin-bottom:0;'>
            <%= content_tag(:li, pluralize(@quote.furniture.living_couch_3pl, "#{t 'sofa'}") + ' 3pl') if @quote.furniture.living_couch_3pl.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.living_couch_2pl, "#{t 'sofa'}") + ' 2pl') if @quote.furniture.living_couch_2pl.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.living_table, 'Table')) if @quote.furniture.living_table.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.living_armchair, "#{t 'armchair'}")) if @quote.furniture.living_armchair.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.living_wall_unit, "#{t 'wall_unit'}")) if @quote.furniture.living_wall_unit.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.living_tv, 'TV')) if @quote.furniture.living_tv.present? %>
          </ul>
        </td>
      </table>  
    </td>
  </tr>
</table>  

<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 0; width: 50%;">
      <table width="100%" class="grey-background" border="0" cellpadding="0" cellspacing="0">
        <td>
          <h3><%= t 'basement' %></h3>
          <ul style='margin-top:0; margin-bottom:0;'>
            <%= content_tag(:li, pluralize(@quote.furniture.base_salon, "#{t 'salon_set'}", "#{t 'salon_sets', default: 'Salon sets'}")) if @quote.furniture.base_salon.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.base_shelf, "#{t 'shelf'}")) if @quote.furniture.base_shelf.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.base_desk, "#{t 'desk'}", "#{t 'desks', default: 'Desks'}")) if @quote.furniture.base_desk.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.base_training, "#{t 'training_set'}", "#{t 'training_sets', default: 'Training sets'}")) if @quote.furniture.base_training.present? %>
          </ul>
        </td>
      </table>
    </td>
    <td style="padding-right: 0;padding-left: 0;width: 50%;">
      <table width="100%" class="grey-background" border="0" cellpadding="0" cellspacing="0">
        <td>
          <h3><%= t 'outside' %></h3>
          <ul style='margin-top:0; margin-bottom:0;'>
            <%= content_tag(:li, pluralize(@quote.furniture.outside_tire, "#{t 'tire'}", "#{t 'tires', default: 'Tires'}")) if @quote.furniture.outside_tire.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.outside_lawn_mower, "#{t 'lawn_mower'}")) if @quote.furniture.outside_lawn_mower.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.outside_bike, "#{t 'bike'}")) if @quote.furniture.outside_bike.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.outside_table, "#{t 'patio_table'}", "#{t 'patio_tables', default: 'Patio tables'}")) if @quote.furniture.outside_table.present? %>
            <%= content_tag(:li, pluralize(@quote.furniture.outside_bbq, 'BBQ')) if @quote.furniture.outside_bbq.present? %>
          </ul>  
        </td>
      </table>  
    </td>
    <% if @quote.furniture.furniture_other.present? %>
      <tr><%= content_tag(:td, "#{t 'other'}: #{@quote.furniture.furniture_other}") %></tr>
    <% end %>
  </tr>
</table>            
<% end %>

<!-- PRICES -->
<hr/>
<p>
  <b><%= t 'removal_men', default: 'Removal men' %>:</b>
  <%= @quote.num_of_removal_man %> <%= "- #{@quote.removal_men.map(&:full_name).to_sentence}" if @quote.removal_men.any? %>
</p>

<p>
  <b><%= t 'price' %>:</b>
  <%= number_to_currency(@quote.price) %> <%= t 'per_hour' %>
</p>

<p>
  <b><%= t 'gas' %>:</b>
  <%= number_to_currency(@quote.gas) %>
</p>


<% if @quote.from_address.has_storage? %>
  <p style="margin-bottom:0;"><b><%= t "#{Storage.model_name.human}" %>:</b></p>
  <h6 style="padding-left:0;"><%= @quote.from_address.storage.name %></h6>
  <p style="margin-top:0; margin-bottom:0;">
    <b><%= t 'price_per_month' %>:</b> <%= number_to_currency(@quote.from_address.price) %>
    <% if @quote.from_address.insurance.present? %>
      + <%= t 'insurance' %>: <%= number_to_currency(@quote.from_address.insurance) %>
    <% end %>
  </p>
<% end %>
<!-- STORAGES -->
<% if !@quote.to_addresses.blank? %>
  <% for to_address in @quote.to_addresses %>
    <% if to_address.has_storage? %>
      <h6 style="padding-left:0;"><%= to_address.storage.name %></h6>
      <p style="margin-top:0;">
        <b><%= t 'price_per_month' %>:</b> <%= number_to_currency(to_address.price) %>
        <% if to_address.insurance.present? %>
          + <%= t 'insurance' %>: <%= number_to_currency(to_address.insurance) %>
        <% end %>
      </p>        
    <% end %>
  <% end %>
<% end %>

<% if @quote.surcharges.any? %>
  <% @quote.surcharges.each do |surcharge| %>
    <p>
      <b><%= surcharge.label %>:</b>
      <%= number_to_currency(surcharge.price) %>
    </p>
  <% end %>
<% end %>

<p>
  <b><%= t 'transport_time' %>:</b>
  <%= @quote.transport_time %><% if @quote.long_distance %> <%= content_tag(:span, '(Long distance)', :class => 'label label-warning label_override') %><% end %>
</p>

<p>
  <b><%= t 'insurance' %>:</b>
  <%= @quote.insurance? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>

<p>
  <b><%= t 'equipment' %>:</b>
  <%= @quote.materiel? ? "#{t 'included'}" : "#{t 'not_included'}" %>
</p>
<!-- OPTIONAL -->
<% if @quote.trucks.any? %>
  <hr/>
  <h3><%= Truck.model_name.human + 's' %></h3>
  <% @quote.trucks.each do |truck| %>
  <ul>
    <li><%= truck.name_with_plate %></li>
  </ul>
  <% end %>
<% end %>

<% if @quote.quote_supplies.any? %>
  <hr/>
  <h3 class='with_margin'>Matériels</h3>
  <% @quote.quote_supplies.each do |q_supply| %>
  <ul>
    <li><%= q_supply.quantity %> * <%=q_supply.supply.name_with_price %></li>
  </ul>
  <% end %>
<% end %>

<% if @quote.forfaits.any? %>
  <hr/>
  <h3>Forfaits</h3>
  <% @quote.forfaits.each do |forfait| %>
  <ul>
    <li><%= forfait.name_with_price %></li>
  </ul>
  <% end %>
<% end %>

<!-- DOCUMENTS -->
<% if @quote.documents.any? %>
  <hr/>
  <h3>Documents</h3>
  <% @quote.documents.each do |document| %>
  <ul>
    <li><%= document.name %></li>
  </ul>
  <% end %>
<% end %>

<!-- CONFIRMATION -->
<% if @quote.confirmed? %>
  <hr/>
  <h3><%= t 'quote_confirmation', default: 'Quote confirmation' %></h3>
  <p><%= t 'approved_on' %> <%= I18n.l(@quote.quote_confirmation.approved_at, :format => :long) %> <%= t 'by' %> <%= @quote.quote_confirmation.user.full_name %></p>
  <p><%= t 'insurance_increase' %>: 
  <%= @quote.quote_confirmation.insurance_limit_enough? ? "#{t 'nope'}" : number_to_currency(@quote.quote_confirmation.insurance_increase) %>
  </p>

  <p><%= t 'franchise_cancelation' %>: <%= @quote.quote_confirmation.franchise_cancellation? ? 
  "#{t 'yessai'} (#{t 'fees'} #{@quote.account.franchise_cancellation_amount}$)" : "#{t 'nope'}" %></p>
  <% unless @quote.client.commercial? %>
    <p><%= t 'payment_method' %>: <%= @quote.quote_confirmation.payment_method %></p>
  <% end %>  
<% end %>

<% if @to_addresses && @to_addresses.any? %>
  <% @to_addresses.each do |to_address| %>
    <p class="static_map">
      <img src="<%= QuoteAddress.static_map_link(@quote.from_address, to_address, options={size: '700x400'}) %>"/>
      <br/>
      <br/>
      <%= link_to "#{t 'get_directions', default: 'Get Directions'}", QuoteAddress.driving_direction_link(@quote.from_address, to_address) %>
    </p>
  <% end %>  
<% end %>

<!-- deposit -->
<% if @quote.deposit.present? %>
<p>
  <b><%= t 'deposit_received' %>:</b>
  <%= number_to_currency(@quote.deposit.amount) %> - <%= l @quote.deposit.date, format: :long %> - <%= t "#{@quote.deposit.payment_method}" %>
  <%= "(#{t(@quote.deposit.credit_card_type)})" if @quote.deposit.credit_card_type.present? %>
</p>
<% end %>