<% @quote.rooms.each_with_index do |room, index| %>
  <p><%= "#{t 'room'} ##{index + 1}:" %> <%= t(room.size) %> <%= room.comment %></p>
<% end %>

<% if @quote.furniture %>
<p><%= t 'nb_appliances' %>: <%= @quote.furniture.num_appliances %></p>
<div class="span6 well col2 odd">
  <h3><%= t 'kitchen' %></h3>
  <ul>
    <%= content_tag(:li, pluralize(@quote.furniture.kitchen_table, 'Table')) if @quote.furniture.kitchen_table.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.kitchen_chair, "#{t 'chair'}")) if @quote.furniture.kitchen_chair.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.kitchen_buffet, 'Buffet')) if @quote.furniture.kitchen_buffet.present? %>
  </ul>
</div>

<div class="span6 well col2 even">
  <h3><%= t 'living_room' %></h3>
  <ul>
    <%= content_tag(:li, pluralize(@quote.furniture.living_couch_3pl, "#{t 'sofa'}") + ' 3pl') if @quote.furniture.living_couch_3pl.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.living_couch_2pl, "#{t 'sofa'}") + ' 2pl') if @quote.furniture.living_couch_2pl.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.living_table, 'Table')) if @quote.furniture.living_table.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.living_armchair, "#{t 'armchair'}")) if @quote.furniture.living_armchair.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.living_wall_unit, "#{t 'wall_unit'}", "#{t 'wall_units', default: 'Wall units'}")) if @quote.furniture.living_wall_unit.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.living_tv, 'TV')) if @quote.furniture.living_tv.present? %>
    <%= content_tag(:li, @quote.furniture.living_other) if @quote.furniture.living_other.present? %>
  </ul>    
</div>

<div class="span6 well col2 odd">
  <h3><%= t 'basement' %></h3>
  <ul>
    <%= content_tag(:li, pluralize(@quote.furniture.base_salon, "#{t 'salon_set'}", "#{t 'salon_sets', default: 'Salon sets'}")) if @quote.furniture.base_salon.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.base_shelf, "#{t 'shelf'}")) if @quote.furniture.base_shelf.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.base_desk, "#{t 'desk'}", "#{t 'desks', default: 'Desks'}")) if @quote.furniture.base_desk.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.base_training, "#{t 'training_set'}", "#{t 'training_sets', default: 'Training sets'}")) if @quote.furniture.base_training.present? %>
    <%= content_tag(:li, @quote.furniture.base_other) if @quote.furniture.base_other.present? %>
  </ul>
</div>

<div class="span6 well col2 even">
  <h3><%= t 'outside' %></h3>
  <ul>
    <%= content_tag(:li, pluralize(@quote.furniture.outside_tire, "#{t 'tire'}", "#{t 'tires', default: 'Tires'}")) if @quote.furniture.outside_tire.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.outside_lawn_mower, "#{t 'lawn_mower'}")) if @quote.furniture.outside_lawn_mower.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.outside_bike, "#{t 'bike'}")) if @quote.furniture.outside_bike.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.outside_table, "#{t 'patio_table'}", "#{t 'patio_tables', default: 'Patio tables'}")) if @quote.furniture.outside_table.present? %>
    <%= content_tag(:li, pluralize(@quote.furniture.outside_bbq, 'BBQ')) if @quote.furniture.outside_bbq.present? %>
    <%= content_tag(:li, @quote.furniture.outside_other) if @quote.furniture.outside_other.present? %>
  </ul>
</div>
<% end %>