<% body_class('quotes') %>
<div class="clearfix">
  <h2><%= t '.title', :default => 'Removal scheduled for' %> <%= l(@day, :format => :long) %>
    <%= link_to((t 'monthly', :default => 'Monthly view'), monthly_quotes_path, :class => "floatr", :style => 'font-size: 15px;') %></span>
  </h2>
</div>

<% if @quotes.any? %>
<div id="timeline">
  <% @quotes.group_by{|q| "#{q.removal_at.strftime('%H')}:00"}.each do |time, quotes| %>
    <h3><%= content_tag :div, time, :class => "time" %><div class="line">&nbsp;</div></h3>
    <% quotes.each do |quote| %>
      <div class="well quote">
        <div class="clearfix">
          <p>
            <b><%= quote.client.name %> <%= content_tag(:span, 'commercial', :class => 'badge') if quote.client.commercial? %></b>
            <% if quote.long_distance %> <%= content_tag(:span, "(#{t 'quotes.long_distance', default: 'Long distance'})", :class => 'label label-warning label_override') %><% end %>
            <% if quote.internal_address %><%= content_tag(:span, "(#{t 'quotes.internal', default: 'Internal'})", :class => 'label label-info label_override') %><% end %>
            <span class='floatr'><b><%= link_to "##{quote.code}", quote_path(quote) %></b></span>
          </p>
          <p><b><%= quote.phone1 %></b>
             <span class='floatr'><%= t 'prepared_by' %> <%= quote.creator.full_name %></span>
          </p>
          <%= content_tag(:p, quote.comment, class: "alert alert-info") if quote.comment.present? %>
          <%= content_tag(:p, "#{t 'removal_time_confirmation'} #{quote.removal_at_comment}", class: "alert alert-info") if quote.pm? %>
          
          <div class="span4 from cal_address">
            <h3><%= t 'from' %> <%= "#{t 'internal'}" if quote.internal_address %></h3>
            <div class="storage" >
              <% if quote.from_address.has_storage? %>
                <h6><%= t 'storage' %>: <%= quote.from_address.storage.name %></h6>
                <%= address_for(quote.from_address.storage.address) %>
              <% else %>
                <h6><%= t 'address' %></h6>
                <%= address_for(quote.from_address.address) %>        
              <% end %>
            </div>
          </div>
          <% unless quote.internal_address? %>
          <div class="span6 cal_address">
            <h3><%= t 'to' %></h3>
            <% if !quote.to_addresses.blank? %>
              <% for to_address in quote.to_addresses %>
                <div class="storage">
                  <% if to_address.has_storage? %>
                    <h6><%= t 'storage' %>: <%= to_address.storage.name %></h6>
                    <%= address_for(to_address.storage.address) %>
                  <% else %>
                    <h6><%= t 'address' %></h6>
                    <%= address_for(to_address.address) %>        
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <% end %>
          
          <div class='span4 from cal_additional' id='cal_price'>
            <p><%= t 'nb_removal_men' %>: <b><%= quote.num_of_removal_man %></b></p>
            <p><%= t 'price' %>: <b><%= number_to_currency(quote.price, strip_insignificant_zeros: true) %></b> par heure</p>
            <p><%= Quote.human_attribute_name(:payment_method) %>: <b><%= I18n.t(quote.quote_confirmation.payment_method) if quote.quote_confirmation.payment_method.present? %></b></p>
            <p>Augmentation de l'assurance: 
              <b><%= quote.quote_confirmation.insurance_limit_enough? ? "#{t 'nope'}" : number_to_currency(quote.quote_confirmation.insurance_increase, strip_insignificant_zeros: true) %></b></p>
              <p>Annulation de franchise: 
              <b><%= quote.quote_confirmation.franchise_cancellation? ? "#{t 'yessai'} (frais de #{number_to_currency(quote.company.account.franchise_cancellation_amount, strip_insignificant_zeros: true)})" : "#{t 'nope'}" %></b></p>
          </div>
          <div class='span6'>
            <% quote.copy_trucks_to_daily %>
            <%= simple_form_for(quote, url: daily_update_quote_path(quote), method: :put, remote: true) do |f| %>
              <%= f.association :removal_leader, label: "#{t 'removal_team_lead'}", collection: current_account.users.active.removal_men.all.map{|s| [s.full_name, s.id]}, input_html: {class: "chzn-deselectable", "data-placeholder"=>"#{t 'select_team_lead'}", id: "team-lead-#{quote.id}"} %>
              <%= f.association :removal_men, label: "#{t 'removal_men'}", collection: current_account.users.active.removal_men.all.map{|s| [s.full_name, s.id]}, input_html: {:class => "chzn", "data-placeholder"=>"#{t 'type_to_select_removal_men'}", id: "removal-men-#{quote.id}", multiple: true, style: "width: 360px;"} %>
              <%= f.association :daily_trucks, label: "#{Truck.model_name.human}", collection: current_account.trucks.available.map{|s| [s.name_with_plate, s.id]}, input_html: {:class => "chzn", "data-placeholder"=>"#{t 'type_to_select_trucks'}", multiple: true, style: "width: 360px;", id: "trucks-#{quote.id}"} %>
            
          </div>
          <div style="width: 100%; margin-left:0;">
            <%= f.input :internal_note, label: false, input_html: {style: 'margin-bottom:0; width:99%; height:20px;' }, placeholder: "#{t 'internal_note_placeholder'}" %>
            <%= submit_tag "#{t 'update'}", :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>   
      </div>
    <% end %>
  <% end %>
  
</div>
<% else %>
  <p class='alert alert-info' style='clear:both;'><%= t "quotes.nothing_found_for_this_period", default: 'No removal sheduled for this period.' %></p>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".chzn-deselectable").chosen({allow_single_deselect: true});
    $(".chzn").chosen();
  });
</script>