<%= render 'quotes/quote_table', absolute_path: true %>

<% if @quote.documents.any? %>
  <hr/>
  <% @quote.documents.each do |document| %>
    <h3 style="padding-left:0;"><%= document.name %></h3>
    <%= simple_format(document.body) %>
  <% end %>
<% end %>

<hr />
<h2 style="padding-left:0;"><%= t 'temp_invoice', default: 'Temporary Invoice' %></h2>
<p>___ <%= label_tag "#{t 'billed_hours', default: 'Billed Hours'}" %> * <%= number_to_currency(@quote.price) %> = <%= text_field_tag 'Hours' %></p>

<p><b><%= t 'gas' %>:</b> <%= number_to_currency(@quote.gas) %></p>

<% if @quote.surcharges.any? %>
  <% @quote.surcharges.each do |surcharge| %>
    <p>
      <b><%= surcharge.label %>:</b>
      <%= number_to_currency(surcharge.price) %>
    </p>
  <% end %>
<% end %>

<p><b><%= t 'supplies' %></b></p>
<% @quote.quote_supplies.each do |q_supply| %>
  <li><%= q_supply.quantity %> * <%= q_supply.supply.name_with_price %></li>
<% end %>
<p><%= label_tag "", "#{Supply.model_name.human}" %>: <%= text_field_tag 'supply' %></p>

<p><b><%= t 'forfaits' %></b></p>
<% @quote.forfaits.each do |forfait| %>
  <li><%= forfait.name_with_price %></li>
<% end %>
<p><%= label_tag "", "#{Forfait.model_name.human}" %>: <%= text_field_tag 'forfait' %></p>

<p><%= label_tag "", "#{t 'warehousing', default: 'Warehousing fee'}" %>: <%= text_field_tag 'warehousing' %></p>
<p><%= label_tag "", "#{t 'insurance'}" %>: <%= text_field_tag 'insurance' %></p>
<p><%= label_tag "", "#{t 'other', default: 'Other'}" %>: <%= text_field_tag 'other' %></p>

<p>___________________________________________________________________________________</p><br />
<p>___________________________________________________________________________________</p><br />
<p>___________________________________________________________________________________</p><br />
<p><%= label_tag "", "TPS / TVH" %>: <%= text_field_tag 'tps' %></p>
<p><%= label_tag "", "TVQ" %>: <%= text_field_tag 'tvq' %></p>
<% if @quote.deposit.present? %>
<p>
  <b><%= t 'deposit_received' %>:</b>
  <%= number_to_currency(@quote.deposit.amount) %> - <%= l @quote.deposit.date, format: :long %> - <%= t "#{@quote.deposit.payment_method}" %>
  <%= "(#{t @quote.deposit.credit_card_type})" if @quote.deposit.credit_card_type.present? %>
</p>
<% end %>
<p>TOTAL: <%= text_field_tag 'Total' %></p>

<h4 style="padding-left:0;"><%= t 'payments' %></h4>
<p><%= label_tag "", "#{t 'comptant'}" %>: <%= text_field_tag 'comptant' %></p>
<p><%= label_tag "", "#{t 'debit'}" %>: <%= text_field_tag 'debit' %></p>
<p><%= label_tag "", "#{t 'credit'}" %>: <%= text_field_tag 'credit' %> <%= check_box_tag '' %> <%= label_tag 'Visa' %> <%= check_box_tag '' %> <%= label_tag 'Mastercard' %>
</p>

<table>
  <tr style="height: 50px;">
    <th></th>
    <th>Client</th>
    <th><%= t 'removal_team_lead' %></th>
  </tr>
  <tr style="text-align:center;">
    <td style="text-align:right;">Date</td>
    <td>____/____/____</td>
    <td>____/____/____</td>
  </tr>
  <tr style="text-align:center;">
    <td style="text-align:right;">Signature</td>
    <td>______________</td>
    <td>______________</td>
  </tr>
</table>

