<h1>Listing quotes
  <span class="submenu"><%= icon_button_link_to 'New quote', new_quote_path, icon: "plus", large: true, level: "primary", white: true %></span>
</h1>

<%= paginate @quotes %>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Removal at</th>
    <th>Creator</th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= link_to quote.code, quote %> <%= status_tag(quote.status) %></td>
    <td><%= quote.client.name %></td>
    <td><%= l quote.removal_at, :format => :long %></td>
    <td><%= quote.creator.full_name %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @quotes %>