<h1><%= Quote.model_name.human + 's' %> <%= t 'scheduled_on', default: 'scheduled on' %> <%= l @day, :format => :long %>
  <span class="submenu">
    <%= icon_button_link_to "#{t 'new_quote', default: 'New quote'}", new_quote_path, icon: "plus", large: true, level: "primary", white: true %>
  </span>
</h1>

<%= form_tag '', :method => :get do %>
  <%= text_field_tag :day, l(@day, :format => :default), :class => "datepicker", "data-date-format" => t('date.js_format') %>
<% end %>

<% if @quotes.any? %>
  <%= render 'quotes' %>
<% else %>
  <p class='alert alert-info'><%= t "no_pending_quotes", default: 'No pending quotes for today.' %></p>
<% end %>  

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#day').datepicker().on('changeDate', function(e) {
      $(e.target).closest('form').submit();
    });
  });
</script>