<h2><%= @quote.client.name %> <%= content_tag(:span, @quote.rating, :class => "badge badge-#{@quote.rating.downcase}") %>
  <span class='submenu'>
    <%= button_link_to 'Edit', edit_quote_path(@quote), level: "inverse", large: true %>
    <%= button_link_to 'Confirm', edit_quote_path(@quote), level: "success", large: true %>
  </span>
</h2>

<p>
  <b>Removal at:</b>
  <%= l @quote.removal_at, :format => :long %> || <%= @quote.is_house? ? 'Maison' : 'Appartement' %>
</p>
<div class="span6 well col2" style="margin-left:0;">
  <h3>From</h3>
  <address><%= address_for(@quote.from_address.address) %></address>
</div>
<div class="span6 well col2" style="margin-left:30px;">
  <h3>To</h3>
  <% if @quote.to_address1 && @quote.to_address1.address %>
    <%= address_for(@quote.to_address1.address) %>
  <% end %>
  
  <% if @quote.to_address2 && @quote.to_address2.address %>
    <%= address_for(@quote.to_address2.address) %>
  <% end %>
</div>

<%= section %>
<%= render 'rooms' %>

<%= section %>
<%= render 'price' %>