<h2><%= @quote.client.name %> <%= content_tag(:span, @quote.rating, :class => "badge badge-#{@quote.rating.downcase}") %>
  <span class='submenu'>
    <%= button_link_to 'Edit', edit_quote_path(@quote), level: "inverse", large: true %>
    <%= button_link_to 'Confirm', edit_quote_path(@quote), level: "success", large: true %>
  </span>
</h2>

<p>
  <b>Removal at:</b>
  <%= l @quote.removal_at, :format => :long %> || <%= @quote.is_house? ? 'Maison' : 'Appartement' %>
</p>
<div class="span6 well col2 odd">
  <h3>From</h3>
  <div class="storage">
  <% if @quote.from_address.has_storage? %>
    <h6>Storage: <%= @quote.from_address.storage.name %></h6>
    <%= address_for(@quote.from_address.storage.address) %>
  <% else %>
    <h6>Address</h6>
    <%= address_for(@quote.from_address.address) %>        
  <% end %>
  </div>
</div>
<div class="span6 well col2 even">
  <h3>To</h3>
  <% if !@quote.to_addresses.blank? %>
    <% for to_address in @quote.to_addresses %>
      <div class="storage">
      <% if to_address.has_storage? %>
        <h6>Storage: <%= to_address.storage.name %></h6>
        <%= address_for(to_address.storage.address) %>
      <% else %>
        <h6>Address</h6>
        <%= address_for(to_address.address) %>        
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= section %>
<%= render 'rooms' %>

<%= section %>
<%= render 'price' %>