<h2><%= @quote.client.name_with_code %> <%= content_tag(:span, @quote.rating, :class => "badge badge-#{@quote.rating.downcase}") %> <%= content_tag(:span, 'commercial', :class => 'badge') if @quote.client.commercial? %>
  <span class='submenu'>
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu" style="font-size:14px;">
          <li><%= icon_link_to "#{t 'billing_address', default: 'Billing Address'}", edit_quote_billing_address_path(@quote), icon: "edit", remote: true %></li>
          <% if @quote.deposit %>
            <li><%#= icon_link_to "#{t 'edit_deposit', default: 'Edit Deposit'}", edit_quote_deposit_path(@quote), icon: "download", remote: true %></li>
          <% else %>
            <li><%= icon_link_to "#{t 'deposit', default: 'Add Deposit'}", new_quote_deposit_path(@quote), icon: "download", remote: true %></li>
          <% end %>
          <% unless @quote.client.email.blank? %>
            <li><%= icon_link_to "#{t 'email_to_client'}", email_quote_path, :method => :post, icon: "envelope" %></li>
          <% end %>
          <li><%= icon_link_to "#{t 'print'}", '#print-modal', "data-toggle" => "modal", icon: "print" %></li>
          <li><%= icon_link_to "#{t 'fullprint'}", '#fullprint-modal', "data-toggle" => "modal", icon: "print" %></li>
          <% if @quote.confirmed? %>
            <li><%= @quote.invoice.blank? ? (icon_link_to "#{t 'create_invoice'}", new_quote_invoice_path(@quote), icon: "plus") : (icon_link_to "#{t 'view_invoice'}", quote_invoice_path(@quote), icon: "file") %></li>
          <% end %>
        </ul>
      </div>
      <% if @quote.rejected? %>
        <%= link_to "#{t 'rejected', default: 'Rejected'}", '#', :class => 'btn btn-warning btn-large disabled', "data-original-title"=> t('rejected', default: "Rejected"),
        "data-content"=> "#{render(template: 'quotes/cancel_reject', locals: {quote: @quote}, formats: [:html])}", "data-placement" => "left", :id => "reject" %>
        <%= button_link_to "#{t 'edit'}", edit_quote_path(@quote), level: "inverse", large: true unless @quote.signed? %>
      <% else %>
        <%= button_link_to "#{t 'edit'}", edit_quote_path(@quote), level: "inverse", large: true unless @quote.signed? %>
        <% if @quote.confirmed? %>
          <%= link_to "#{t 'confirmed', default: 'Confirmed'}", '#', :class => 'btn btn-success btn-large disabled', "data-original-title"=> t('quote_confirmation'),
"data-content"=> "#{render(template: 'quote_confirmations/show', locals: {quote_confirmation: @quote.quote_confirmation}, formats: [:html])}", "data-placement" => "left", :id => "confirm" %>
        <% else %>
          <%= button_link_to "#{t 'reject', default: 'Reject'}", reject_quote_path(@quote), level: "warning", large: true, method: :put, confirm: "#{t 'confirm_reject', defaut: 'Are you sure you want to reject this quote?'}" %>
          <%= button_link_to "#{t 'confirm', default: 'Confirm'}", new_quote_quote_confirmation_path(@quote), level: "success", large: true, remote: true %>
        <% end %>
      <% end %>
    </div>  
  </span>
</h2>

<%= render 'q_header', quote: @quote %>
<%= render 'addresses' %>

<%= section %>
<%= render 'rooms' %>

<%= section %>
<%= render 'price' %>
<%= render 'optional' %>
<%#= render 'documents' %>
<%= render 'confirmation' %>

<!-- PRINT MODAL -->
<%= render 'print_modal' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#confirm, #reject")
      .popover({
          // offset: 10,
          trigger: 'manual',
          animate: false,
          html: true,
          placement: 'top',
          template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      }).click(function(e) {
          e.preventDefault() ;
      }).mouseenter(function(e) {
          $(this).popover('show');
      });
    $('.datepicker').live('click', function () {
      <% if I18n.locale == :fr %>
      $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["fr"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
      <% else %>
      $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["en-GB"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
      <% end %>  
    });
  });
</script>