<h2><%= @quote.client.name %> <%= content_tag(:span, @quote.rating, :class => "badge badge-#{@quote.rating.downcase}") %>
  <span class='submenu'>
    <% if @quote.rejected? %>
      <%= link_to "#{t 'rejected', default: 'Rejected'}", '#', :class => 'btn btn-warning btn-large disabled' %>
    <% else %>
      <%= button_link_to "#{t 'edit', default: 'Edit'}", edit_quote_path(@quote), level: "inverse", large: true %>
      <% if @quote.confirmed? %>
        <%= link_to "#{t 'confirmed', default: 'Confirmed'}", '#', :class => 'btn btn-success btn-large disabled', "data-original-title"=>"Confirmation",
        "data-content"=> "#{render(template: 'quote_confirmations/show', locals: {quote_confirmation: @quote.quote_confirmation}, formats: [:html])}", "data-placement" => "left", :id => "confirm" %>
      <% else %>
        <%= button_link_to "#{t 'reject', default: 'Reject'}", reject_quote_path(@quote), level: "warning", large: true, method: :put, confirm: "#{t 'confirm_reject', defaut: 'Are you sure to reject this quote?'}" %>
        <%= button_link_to "#{t 'confirm', default: 'Confirm'}", confirmation_quote_path(@quote), level: "success", large: true, remote: true %>
      <% end %>
    <% end %>  
    
  </span>
</h2>

<p>
  <b>Removal at:</b>
  <%= l @quote.removal_at, :format => :long %> || <%= @quote.is_house? ? 'Maison' : 'Appartement' %>
  <span class='submenu'><b>Créée par: </b><%= @quote.creator.full_name %></span>
</p>

<% if @quote.pm? %>
  <p>
    <span class='label label-warning label_override'>L'heure exacte sera confirmée le jour même</span>
    <% if @quote.removal_at_comment.present? %><%= @quote.removal_at_comment %><% end %>
  </p>
<% end %>

<div class="span6 well col2 odd">
  <h3>From <%= '(Internal)' if @quote.internal_address %></h3>
  <div class="storage">
  <% if @quote.from_address.has_storage? %>
    <h6>Storage: <%= @quote.from_address.storage.name %></h6>
    <%= address_for(@quote.from_address.storage.address) %>
  <% else %>
    <h6>Address</h6>
    <%= address_for(@quote.from_address.address) %>        
  <% end %>
  </div>
</div>

<% unless @quote.internal_address? %>
<div class="span6 well col2 even">
  <h3>To</h3>
  <% if !@quote.to_addresses.blank? %>
    <% for to_address in @quote.to_addresses %>
      <div class="storage">
      <% if to_address.has_storage? %>
        <h6>Storage: <%= to_address.storage.name %></h6>
        <%= address_for(to_address.storage.address) %>
      <% else %>
        <h6>Address</h6>
        <%= address_for(to_address.address) %>        
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<%= section %>
<%= render 'rooms' %>

<%= section %>
<%= render 'price' %>

<%= render 'optional' %>
<%= render 'documents' %>  

<%= render 'confirmation' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#confirm")
      .popover({
          // offset: 10,
          trigger: 'manual',
          animate: false,
          html: true,
          placement: 'top',
          template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      }).click(function(e) {
          e.preventDefault() ;
      }).mouseenter(function(e) {
          $(this).popover('show');
      });
  });
</script>