<h2>Terms & Conditions
  <span class='submenu'>
    <% if @quote.signed? %>
      <%= link_to 'Approved', '#', :class => 'btn btn-success btn-large disabled' %>
    <% else %>
      <%= button_link_to 'Approve', '#signature', "data-toggle" => "modal", level: "success", large: true, style: 'display: none;', id: "approve" %>
    <% end %>
  </span>
</h2>

<% @quote.documents.each_with_index do |document, index| %>
  <%= div_for(document, :style => "display: #{index == 0 ? 'block' : 'none' };", :class => index == @quote.documents.size - 1 ? "last" : "") do %>
    <h3><%= document.name %></h3>
    <%= document.body.html_safe %>
    <p>
      <%= check_box_tag "approve_document_#{document.id}", document.id, false, :class => "mark-read" %>
      <%= label_tag "approve_document_#{document.id}", "I approve", :style => "display: inline-block;" %>
    </p>
    <%= button_link_to 'Next', '#', large: true, level: "success", white: true, class: "next disabled" %>
  <% end %>
<% end %>

<%= render 'signaturepad' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Quote.Terms.init();
    
    
    
    <% if @quote.signed? %>
    var sig = '<%= @quote.removal.signature.html_safe %>';
    var api = $('#signature').signaturePad({displayOnly:true});
    api.regenerate(sig);
    <% end %>
  });
</script>
