<p>
  <b>Removal at:</b>
  <%= l @quote.removal_at, :format => :long %> || <%= @quote.is_house? ? 'Maison' : 'Appartement' %>
  <span class='submenu'><b>Créée par: </b><%= @quote.creator.full_name %></span>
</p>

<% if @quote.pm? %>
  <p>
    <span class='label label-warning label_override'>L'heure exacte sera confirmée le jour même</span>
    <% if @quote.removal_at_comment.present? %><%= @quote.removal_at_comment %><% end %>
  </p>
<% end %>

<div class="span6 well col2 odd">
  <h3>From <%= '(Internal)' if @quote.internal_address %></h3>
  <div class="storage">
  <% if @quote.from_address.has_storage? %>
    <h6>Storage: <%= @quote.from_address.storage.name %></h6>
    <%= address_for(@quote.from_address.storage.address) %>
  <% else %>
    <h6>Address</h6>
    <%= address_for(@quote.from_address.address) %>        
  <% end %>
  </div>
</div>

<% unless @quote.internal_address? %>
<div class="span6 well col2 even">
  <h3>To</h3>
  <% if !@quote.to_addresses.blank? %>
    <% for to_address in @quote.to_addresses %>
      <div class="storage">
      <% if to_address.has_storage? %>
        <h6>Storage: <%= to_address.storage.name %></h6>
        <%= address_for(to_address.storage.address) %>
      <% else %>
        <h6>Address</h6>
        <%= address_for(to_address.address) %>        
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<%= section %>
<%= render 'price' %>

<%= render 'quotes/optional' %>

<%= render 'quotes/confirmation' %>

<% if @quote.signed? %>
  <div id="signature" style="width: 200px; clear:both;" class='signed'>
    <div class="sigWrapper"> 
      <canvas class="pad" width="500"></canvas>
      <p><%= @quote.removal.signer_name.titleize %><br><%= l @quote.removal.signed_at, :format => :short %></p>
    </div>
  </div>
<% else %>
  <div class="well">
    <h2>Terms & Conditions
      <span class='submenu'>
        <% if @quote.signed? %>
          <%= link_to 'Approved', '#', :class => 'btn btn-success btn-large disabled' %>
        <% end %>
      </span>
    </h2>
    <% @quote.documents.each_with_index do |document, index| %>
      <%= div_for(document, :style => "display: #{index == 0 ? 'block' : 'none' };", :class => index == @quote.documents.size - 1 ? "last" : "") do %>
        <h3 class='with_margin'><%= document.name %></h3>
        <%= simple_format(document.body) %>
        <p class='approve_doc'>
          <%= check_box_tag "approve_document_#{document.id}", document.id, false, :class => "mark-read" %>
          <%= label_tag "approve_document_#{document.id}", "I approve", :style => "display: inline-block;" %>
          <% if @quote.documents.size > 1 %>
          <%= button_link_to 'Next', '#', large: true, level: "success", white: true, class: "next disabled" %>
          <% end %>
          <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, style: 'display: none;', class: "approve" %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>


<%= render 'signaturepad' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    <% if @quote.signed? %>
      var sig = '<%= @quote.removal.signature.html_safe %>';
      var api = $('#signature').signaturePad({displayOnly:true});
      api.regenerate(sig);
    <% else %>
      Quote.Terms.init();  
    <% end %>
  });
</script>