<%= simple_form_for([@quote, @quote_confirmation], html: {class: @ajax ? 'ajax' : ''}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :insurance_limit_enough, :label => false, :as => :radio_buttons, :collection => [['Oui', true],['Non', false]], :item_wrapper_class => "inline" %>
    <%= f.input :insurance_increase, :wrapper_html => {:id => "insurance_increase", :style => "display: #{@quote_confirmation.insurance_limit_enough.nil? || @quote_confirmation.insurance_limit_enough? ? 'none' : 'block'}"} do %>
      <div class='input-append'>
        <%= f.text_field :insurance_increase, :class => 'span1 input-append' %><span class="add-on">$</span>
      </div>
    <% end %>
    
    <%= f.input :franchise_cancellation, :as => :radio_buttons, :collection => [["Oui (#{current_account.franchise_cancellation_amount}$)", true],['Non', false]], :item_wrapper_class => "inline" %>
    <%= f.input :payment_method, :as => :radio_buttons, :collection => payment_method_options, :item_wrapper_class => "inline" %>
  </div>

  <div class="form-actions actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#quote_confirmation_insurance_limit_enough_false').click(function() {
      $('#insurance_increase').show();
    });
    $('#quote_confirmation_insurance_limit_enough_true').click(function() {
      $('#insurance_increase').hide();
    });
  });
</script>