<p><%= t 'approved_on' %> <%= I18n.l(quote_confirmation.approved_at, :format => :long) %> <%= t 'by' %> <%= quote_confirmation.user.full_name %></p>
<p><%= link_to "#{t 'edit'}", edit_quote_quote_confirmation_path(quote_confirmation.quote, quote_confirmation), :remote => true %></p>

