<% url = mobile ? mobile_quote_invoice_path(@quote) : quote_invoice_path(@quote) %>
<%= simple_nested_form_for(@invoice, :url => url, :remote => mobile, :html => {:id => "edit-invoice"}) do |f| %>
  <%= f.error_notification %>
  <%= locking_field_tag(f) %>
  
  <div class="form-inputs">
    
    <%= f.fields_for :lines %>
    <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_line', default: 'Add line'}", :lines, :class => "btn btn-primary add-link" %>
  
    <div class="control-group float optional">
      <%= f.label :time_spent %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :time_spent, :class => 'span1 input-append' %><span class="add-on"><i class="icon-time"></i></span> heure(s)
        </div>
      </div>
    </div>
    <div class="control-group float optional" id="change-rate-field">
      <%= f.label :rate %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :rate, :class => 'span1 input-append' %><span class="add-on">$</span> <%= t 'hourly', :default => 'hourly' %>
        </div>
      </div>
    </div>
    <div class="control-group float optional">
      <%= f.label :gas %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :gas, :class => 'span1 input-append' %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <%= content_tag "div", id: "surchages" do %>
      <%= f.fields_for :surcharges %>
      <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_surcharge'}", :surcharges, :class => "btn btn-primary add-link", :id => "add-surcharge" %>
    <% end %>
    
    <% unless @invoice.quote.client.commercial? %>
      <%= f.input :payment_method, required: false, :as => :radio_buttons, :collection => payment_method_options, :item_wrapper_class => "inline", :wrapper_html => {:id => "payment_methods"} %>
      <%= f.input :credit_card_type, :collection => credit_card_type_options, :include_blank => false, :wrapper_html => {:id => "credit_card_type", :style => "display: #{@invoice.payment_method == 'credit' ? 'block' : 'none'};"}  %>
    <% end %>
    
    <% if @invoice.quote.quote_confirmation.franchise_cancellation %>
    <div class="control-group float optional">
      <%= f.label :franchise_cancellation %>
      <div class="controls">
        <div class='input-append'>
          <%= text_field_tag :franchise_cancellation, current_account.franchise_cancellation_amount, :class => 'span1 input-append', :disabled => true %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <% end %>
    
    <% if @invoice.total_insurance_increase > 0 %>
    <div class="control-group float optional">
      <%= f.label :insurance_increase %>
      <div class="controls">
        <div class='input-append'>
          <%= text_field_tag :insurance_increase, @invoice.total_insurance_increase, :class => 'span1 input-append', :disabled => true %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="control-group float optional">
      <%= f.label :discount %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :discount, :class => 'span1 input-append' %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    
    <% if @invoice.quote.deposit %>
    <div class="control-group float optional">
      <%= f.label :deposit, t('deposit'), class: "float control-label" %>
      <div class="controls">
        <div class='input-append'>
          <%= text_field_tag :deposit, @invoice.quote.deposit.amount, :class => 'span1 input-append', :disabled => true %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% if @invoice.quote.client.commercial? %>
    <%= f.input :purchase_order %>
  <% end %>
  
  <%= section %>
  <h3><%= t 'supplies' %></h3>
  <%= content_tag "div", id: "supply-list", data: {supplies: current_account.supplies.all } do %>
    <%= f.fields_for :invoice_supplies %>
    <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_supply', default: 'Add supply'}", :invoice_supplies, :class => "btn btn-primary add-link", :id => "add-supply" %>
  <% end %>
  
  <%= section %>
  <h3>Forfaits</h3>
    <%= f.association :forfaits, :collection => current_account.forfaits.all.map{|s| [s.name_with_price, s.id]}, :input_html => {:id => "forfaits", :class => "chzn", "data-placeholder" => "#{t 'type_to_select_forfaits'}", :multiple => true, :style => "width: 508px;", :data => {:forfaits => current_account.forfaits.all}} %>
  
  <%= section %>
  <h3><%= t 'insurance_cancellation', default: 'Insurance cancellation' %></h3>
    <%= f.input :furnitures, :input_html => {:class => "comment_one_liner"} %>
    
    <%= f.input :misc, :label => false do %>
      <label for="invoice_too_big_for_stairway" class="checkbox"><%= f.check_box :too_big_for_stairway %> <%= t('too_big_for_stairway') %></label>
      <label for="invoice_too_big_for_hallway" class="checkbox"><%= f.check_box :too_big_for_hallway %> <%= t('too_big_for_hallway') %></label>
      <label for="invoice_too_big" class="checkbox"><%= f.check_box :too_big %> <%= t('too_big') %></label>
      <label for="invoice_broken" class="checkbox"><%= f.check_box :broken %> <%= t('broken') %></label>
      <label for="invoice_too_fragile" class="checkbox"><%= f.check_box :too_fragile %> <%= t('too_fragile') %></label>
    <% end %>
  
  <%= section %>
  <h3><%= t 'taxe' %></h3>
  <% if @invoice.tax1.present? %>
    <div class="control-group">
      <div class="controls">
        <%= f.input_field :tax1_label, :placeholder => "Tax1 Name", class: 'span2' %>
        <div class='input-append'> 
          <%= f.input_field :tax1, :placeholder => "Tax1 Rate", class: 'span1' %><span class="add-on">%</span>
        </div>
        <%= f.input_field :tax2_label, :placeholder => "Tax2 Name", class: 'span2' %>
        <div class='input-append'> 
          <%= f.input_field :tax2, :placeholder => "Tax2 Rate", class: 'span1' %><span class="add-on">%</span>
        </div>
        <span><%= t 'accounts.show.compound_tax' %></span>
        <%= f.check_box :compound %>
      </div>
    </div>
  <% end %>

  <%= section %>
    <%= f.input :comment, :input_html => {:class => "live-input", :style => "width:500px; height:150px;"} %>
  
  <%= section %>
    <h3>Grand Total: <span id="grand-total"><%= number_to_currency(@invoice.grand_total) %></span></h3>
  
  <div class="form-actions" style="display: none;">
    <%= submit_or_cancel(f) %>
    <%= submit_tag 'Preview', style: "display: none;", :id => "submit-to-preview" %>
  </div>
<% end %>