<p><b><%= t('company') %>:</b> <%= @invoice.quote.company.company_name %></p>
<p><b>Client:</b> <%= @invoice.client.name %></p>
<% if @invoice.client.commercial? %>
  <p><b><%= t 'billing_address' %>:</b> <%= address_for @invoice.quote.billing_address.address %></p>
<% end %>
<p><b><%= t "removal_at" %>:</b> <%= l @invoice.quote.removal_at.to_date %></p>
<%= section %>
<br />

<% if @invoice.total_time_spent > 0 %>
  <div class="row">
    <div class="span4"><%= t 'time_spent' %> (<%= @invoice.time_spent  %> * <%= number_to_currency(@invoice.rate) %>)</div>
    <div class="span2 money"><%= number_to_currency(@invoice.total_time_spent) %></div>
  </div>
<% end %>  

<% if (@invoice.try(:gas) || 0) > 0 %>
  <div class="row">
    <div class="span4">Gas</div>
    <div class="span2 money"><%= number_to_currency(@invoice.gas) %></div>
  </div>
<% end %>

<% if @invoice.total_overtime > 0 %>
  <% @invoice.overtimes.each do |overtime| %>
  <div class="row">
    <div class="span4">Overtime (<%= overtime.duration %> * <%= number_to_currency(overtime.rate) %>)</div>
    <div class="span2 money"><%= number_to_currency(overtime.amount) %></div>
  </div>
  <% end %>
<% end %>

<!-- SUPPLIES -->
<% if @invoice.invoice_supplies.any? %>
  <h3 class="inv_section"><%= Supply.model_name.human + 's' %></h3>
  <% @invoice.invoice_supplies.each do |inv_supply| %>
    <div class="row">
      <div class="span4"><%= inv_supply.supply.name %> (<%= inv_supply.quantity %> * <%= number_to_currency(inv_supply.supply.price) %>)</div>
      <div class="span2 money"><%= number_to_currency(inv_supply.quantity * inv_supply.supply.price) %></div>
    </div>
  <% end %>
<% end %>

<!-- FORFAIT -->
<% if @invoice.forfaits.any? %>
  <h3 class="inv_section">Forfaits</h3>
  <% @invoice.forfaits.each do |forfait| %>
    <div class="row">
      <div class="span4"><%= forfait.name %></div>
      <div class="span2 money"><%= number_to_currency(forfait.price) %></div>
    </div>
  <% end %>
<% end %>

<!-- FRANCHISE CANCELLATION -->
<% if @invoice.quote.quote_confirmation.franchise_cancellation %>
  <div class="row">
    <div class="span4"><%= t 'franchise_cancelation' %></div>
    <div class="span2 money"><%= number_to_currency(current_account.franchise_cancellation_amount) %></div>
  </div>
<% end %>

<!-- INSURANCE -->
<% if @invoice.total_insurance_increase > 0 %>
  <div class="row">
    <div class="span4"><%= t 'insurance_increase' %></div>
    <div class="span2 money"><%= number_to_currency(@invoice.total_insurance_increase) %></div>
  </div>
<% end %>

<!-- STORAGES -->
<% if @invoice.quote.to_addresses.present? %>
  <% @invoice.quote.to_addresses.each do |to_address| %>
    <% if to_address.storage_id && to_address.storage.internal? %>
    <div class="row" style="margin-top: 10px;">
      <div class="span4"><strong><%= t('storage') %>: <%= to_address.storage.name %></strong></div>
      <div class="span2 money"></div>
    </div>
    <div class="row">
      <div class="span4"><%= t('price') %> <%= t 'per_month' %></div>
      <div class="span2 money"><%= number_to_currency(to_address.price) %></div>
    </div>
    <div class="row">
      <div class="span4"><%= t('insurance') %></div>
      <div class="span2 money"><%= number_to_currency(to_address.insurance) %></div>
    </div>
    <% end %>
  <% end %>
<% end %>

<!-- DISCOUNT -->
<% if @invoice.total_discount > 0 %>
  <div class="row">
    <div class="span4"><%= t 'discount' %></div>
    <div class="span2 money">- <%= number_to_currency(@invoice.total_discount) %></div>
  </div>
<% end %>

<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span2"><div style="height: 1px; background: #CCC; margin-top: 10px;"></div></div>
</div>
<!-- GRAND TOTAL -->
<div class="row">
  <div class="span4"><h3>Grand Total</h3></div>
  <div class="span2 money"><h3><%= number_to_currency(@invoice.grand_total) %></h3></div>
</div>
<!-- TAX 1 -->
<% if @invoice.tax1_amount > 0 %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= @invoice.tax1_name %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax1_amount) %></h3></div>
</div>
<% end %>
<!-- TAX 2 -->
<% if @invoice.tax2_amount > 0 %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= @invoice.tax2_name %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax2_amount) %></h3></div>
</div>
<% end %>

<% if (@invoice.try(:tip) || 0) > 0 %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= t 'tip' %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tip) %></h3></div>
</div>
<% end %>

<% if @invoice.quote.deposit %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= t('deposit_received') %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;">- <%= number_to_currency(@invoice.quote.deposit.amount) %></h3></div>
</div>
<% end %>

<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span2"><div style="height: 1px; background: #CCC; margin-top: 10px;"></div></div>
</div>
<div class="row">
  <div class="span4" style="text-align:right;"><h3>Total</h3></div>
  <div class="span2 money"><h3><%= number_to_currency(@invoice.total) %></h3></div>
</div>

<br />

<% unless @invoice.quote.client.commercial? %>
<div class="row">
  <div class="span12"><h3><%= t 'payment_method' %>: <%= t @invoice.payment_method %> <%= "(#{t @invoice.credit_card_type})" if @invoice.payment_method == "credit" %></h3></div>
</div>
<% end %>

<% if @invoice.quote.deposit %>
  <% deposit = @invoice.quote.deposit %>
  <div class="row">
    <div class="span12"><h3><%= t 'deposit_received' %>: <%= number_to_currency(deposit.amount) %> - <%= t(deposit.payment_method) %> <%= "(#{t @quote.deposit.credit_card_type})" if @invoice.quote.deposit.credit_card_type.present? %> - <%= l deposit.date, format: :long %></h3></div>
  </div>
<% end %>

<% unless @invoice.furnitures.blank? %>
  <%= section %>
  <h3><%= t('insurance_cancellation') %></h3>
  <br />
  <p><%= t('insurance_cancellation_info') %>:</p>
  <%= simple_format(@invoice.furnitures) %>
  <%= content_tag(:p, check_box_tag('too_big_for_stairway', 'true', true, :disabled => true) + " " + t('too_big_for_stairway')) if @invoice.too_big_for_stairway %>
  <%= content_tag(:p, check_box_tag('too_big_for_hallway', 'true', true, :disabled => true) + " " + t('too_big_for_hallway')) if @invoice.too_big_for_hallway %>
  <%= content_tag(:p, check_box_tag('too_big', 'true', true, :disabled => true) + " " + t('too_big')) if @invoice.too_big %>
  <%= content_tag(:p, check_box_tag('broken', 'true', true, :disabled => true) + " " + t('broken')) if @invoice.broken %>
  <%= content_tag(:p, check_box_tag('too_fragile', 'true', true, :disabled => true) + " " + t('too_fragile')) if @invoice.too_fragile %>
<% end %>

<% unless @invoice.comment.blank? %>
  <%= section %>
  <p><i><%= simple_format(@invoice.comment) %></i></p>
<% end %>

<!-- INVOICE SIGNED -->
<% if @invoice.signed? %>
  <%= section %>
  <br />
  <h3><%= t 'client_satisfaction' %></h3>
  <% unless @invoice.tip.blank? %>
    <p><%= t 'tip' %>: <%= number_to_currency(@invoice.tip) %></p>
  <% end %>
  <% unless @invoice.client_satisfaction.blank? %>
    <p><i><%= simple_format(@invoice.client_satisfaction) %></i></p>
  <% end %>
  
  <div id="signature" style="width: 200px;" class='signed'>
    <div class="sigWrapper"> 
      <canvas class="pad" width="500"></canvas>
      <p><%= @invoice.signer_name.titleize %><br><%= l @invoice.signed_at, :format => :short %></p> 
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      var sig = '<%= @invoice.signature.html_safe %>';
      var api = $('#signature').signaturePad({displayOnly:true});
      api.regenerate(sig);
    });
  </script>
<!-- INVOICE NOT SIGNED -->  
<% else %>
  <br />
  <h3><%= t 'client_satisfaction' %></h3> <br />
  <%= t 'tip' %> <%= text_field_tag :tip, @invoice.tip, :class => "span1" %><br />
  <%= text_area_tag :client_satisfaction, @invoice.client_satisfaction, :class => "span6", :rows => 5 %>

  <%= render 'invoices/signaturepad', mobile: mobile %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#submit-invoice').click(function() {
        $('#frm-invoice').submit();
        return false;
      });
      $('.sigPad').signaturePad({drawOnly:true, lineTop: 120});
      $('#client_satisfaction').keyup(function() {
        $('#invoice_client_satisfaction').val($(this).val());
      });
    });
  </script>
<% end %>