<h1>
  <% if @invoice.quote.company.logo.present? %>
    <% if absolute_path %>
      <%= image_tag(Rails.root.join("public", "uploads", "company", @invoice.quote.company_id.to_s, "logo", "thumb", @invoice.quote.company.logo_file_name)) %>
    <% else %>
      <%= image_tag(@invoice.quote.company.logo.url(:thumb)) %>
    <% end %>
  <% else %>
    <%= @invoice.quote.company.company_name %>
  <% end %>
  <span style='float:right; vertical-align:top;'><%= Invoice.model_name.human %> #<%= @invoice.code %></span>
  <%= simple_format(@invoice.quote.company.invoice_header, style: "font-size:10px;") if @invoice.quote.company.invoice_header.present? %>
</h1>

<table>
  <tr>
    <td style="padding-left: 0;width: 55%">
      <table class="grey-box" width="100%">
        <tr>
          <td>
            <b><%= @invoice.quote.company.company_name %></b>
            <%= address_for @invoice.quote.company.address, :p if @invoice.quote.company.address.present? %>
            <b><%= t 'phone' %>:</b> <%= @invoice.quote.company.phone %><br/><br/>
            <b><%= t 'website' %>:</b> <%= @invoice.quote.company.website %>
          </td>
        </tr>
      </table>
    </td>
    <td style="padding-left: 0; padding-right: 0;width: 45%;">
      <table class="grey-box" width="100%">
        <tr>
          <td>
            <b>Client:</b> <%= @invoice.quote.client.name %> (<%= @invoice.quote.client.reference %>)<br/><br/>
            <b><%= t "removal_at" %>:</b> <%= l @invoice.quote.removal_at.to_date %><br /><br />
            <b><%= t "#{Quote.model_name.human}" %>:</b> <%= @invoice.quote.reference %><br /><br />
            <% if @invoice.purchase_order.present? %>
            <b><%= t "purchase_order" %>:</b> <%= @invoice.purchase_order %><br /><br />
            <% end -%>
            <b><%= t 'reserved_on' %>:</b> <%= l @invoice.quote.created_at.to_date %><br /><br />
            <b> <%= t 'approved_on' %>:</b> <%= l @invoice.quote.quote_confirmation.approved_at.to_date %><br /><br />
            <b> <%= t 'invoice_date' %>:</b> <%= l @invoice.created_at.to_date %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
<hr/>
<table>
  <% if @invoice.total_time_spent > 0 %>
  <tr>
    <td><%= t 'time_spent' %> (<%= @invoice.time_spent  %> * <%= number_to_currency(@invoice.rate) %>)</td>
    <td class="right"><%= number_to_currency(@invoice.total_time_spent) %></td>
  </tr>
  <% end %>
  
  <% if (@invoice.try(:gas) || 0) > 0 %>
  <tr>
    <td><%= t 'gas' %></td>
    <td class="right"><%= number_to_currency(@invoice.gas) %></td>
  </tr>
  <% end %>
  
  <% if @invoice.total_surcharges > 0 %>
    <% @invoice.surcharges.each do |surcharge| %>
    <tr>
      <td><%= surcharge.label %></td>
      <td class="right"><%= number_to_currency(surcharge.price) %></td>
    </tr>
    <% end %>
  <% end %>
  
  <!-- SUPPLIES -->
  <% if @invoice.invoice_supplies.any? %>
    <tr>
      <td colspan="2"><h3><%= Supply.model_name.human + 's' %></h3></td>
    </tr>
    <% @invoice.invoice_supplies.each do |inv_supply| %>
      <tr>
        <td><%= inv_supply.supply.name %> (<%= inv_supply.quantity %> * <%= number_to_currency(inv_supply.supply.price) %>)</td>
        <td class="right"><%= number_to_currency(inv_supply.quantity * inv_supply.supply.price) %></td>
      </tr>
    <% end %>
  <% end %>
  
  <!-- FORFAIT -->
  <% if @invoice.forfaits.any? %>
    <tr>
      <td colspan="2"><h3><%= Forfait.model_name.human + 's' %></h3></td>
    </tr>
    <% @invoice.forfaits.each do |forfait| %>
      <tr>
        <td><%= forfait.name %></td>
        <td class="right"><%= number_to_currency(forfait.price) %></td>
      </tr>
    <% end %>
  <% end %>
  
  <!-- FRANCHISE CANCELLATION -->
  <% if @invoice.quote.quote_confirmation.franchise_cancellation %>
  <tr>
    <td><%= t 'franchise_cancelation' %></td>
    <td class="right"><%= number_to_currency(@quote.account.franchise_cancellation_amount) %></td>
  </tr>
  <% end %>

  <!-- INSURANCE -->
  <% if @invoice.total_insurance_increase > 0 %>
  <tr>
    <td><%= t 'insurance_increase' %></td>
    <td class="right"><%= number_to_currency(@invoice.total_insurance_increase) %></td>
  </tr>
  <% end %>

  <!-- STORAGES -->
  <% if @invoice.quote.to_addresses.present? %>
    <% @invoice.quote.to_addresses.each do |to_address| %>
      <% if to_address.storage_id && to_address.storage.internal? %>
      <tr>
        <td style="padding-top: 10px;"><b><%= t('storage') %>: <%= to_address.storage.name %></b></td>
        <td class="right"></td>
      </tr>
      <tr>
        <td><%= t('price') %> <%= t 'per_month' %></td>
        <td class="right"><%= number_to_currency(to_address.price) %></td>
      </tr>
      <tr>
        <td><%= t('insurance') %></td>
        <td class="right"><%= number_to_currency(to_address.insurance) %></td>
      </tr>
      <% end -%>
    <% end -%>
  <% end -%>

  <% if @invoice.total_discount > 0 %>
  <tr>
    <td><%= t 'discount' %></td>
    <td class="right">- <%= number_to_currency(@invoice.total_discount) %></td>
  </tr>
  <% end %>

  <tr>
    <td></td>
    <td><hr/></td>
  </tr>
  
  <!-- GRAND TOTAL -->
  <tr>
    <td><h3>Grand Total</h3></td>
    <td class="right"><h3><%= number_to_currency(@invoice.grand_total) %></h3></td>
  </tr>

  <!-- TAX 1 -->
  <% if @invoice.tax1_amount > 0 %>
  <tr>
    <td><h3 style="font-weight: normal;"><%= @invoice.tax1_name %></h3></td>
    <td class="right"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax1_amount) %></h3></td>
  </tr>
  <% end %>
  <!-- TAX 2 -->
  <% if @invoice.tax2_amount > 0 %>
  <tr>
    <td><h3 style="font-weight: normal;"><%= @invoice.tax2_name %></h3></td>
    <td class="right"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax2_amount) %></h3></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><hr/></td>
  </tr>
  
  <tr>
    <td class="right"><h3>Total</h3></td>
    <td class="right"><h3><%= number_to_currency(@invoice.total) %></h3></td>
  </tr>
</table>
<br />
<% unless @invoice.client.commercial? %>
  <h3><%= t 'payment_method' %>: <%= t @invoice.payment_method %> <%= "(#{t @invoice.credit_card_type})" if @invoice.payment_method == "credit" %></h3>
<% end %>
<br />
<br />
<hr/>
<!-- QUOTE -->
<h2><%= t 'quote_details', default: 'Quote Details' %></h2>
<%= render 'quotes/price' %>
<%= render 'quotes/optional' %>
<%= render 'quotes/documents' %>
<%= render 'quotes/confirmation' %>