<h3 class='inv_section'><%= t 'moving_job', default: 'Moving job' %></h3>

<% @invoice.lines.moving.each do |line| %>
  <div class="row">
    <div class="span4"><%= t 'time_spent' %> <%= line.display %></div>
    <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
  </div>
<% end %>

<% @invoice.lines.gas.each do |line| %>
  <div class="row">
    <div class="span4"><%= t 'gas' %></div>
    <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
  </div>
<% end %>

<% @invoice.lines.insurances.each do |line| %>
  <div class="row">
    <div class="span4"><%= t 'insurance' %></div>
    <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
  </div>
<% end %>

<% @invoice.lines.tips.each do |line| %>
  <div class="row">
    <div class="span4"><%= t 'tip' %></div>
    <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
  </div>
<% end %>

<% if @invoice.lines.forfaits.any? %>
  <h3 class='inv_section'><%= t 'forfaits', default: 'Forfaits' %></h3>
  <% @invoice.lines.forfaits.each do |line| %>
    <div class="row">
      <div class="span4">.<%#= line.invoiceable.name %></div>
      <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
    </div>
  <% end %>
<% end %>

<% if @invoice.lines.supplies.any? %>
  <h3 class='inv_section'><%= t 'supplies', default: 'Supplies' %></h3>
  <% @invoice.lines.supplies.each do |line| %>
    <div class="row">
      <div class="span4">.<%#= line.invoiceable.name %> <%= line.display %></div>
      <div class="span2 money"><%= number_to_currency(line.subtotal) %></div>
    </div>
  <% end %>
<% end %>