<h2>Invoice
  <span class='submenu'>
    <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, id: "approve" %>  
  </span>
</h2>

<%= simple_form_for([@quote, @invoice], :remote => true, :html => {:id => "edit-invoice"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :time_spent %>
    <%= f.input :comment, :input_html => {:style => "width: 500px; height:150px;"} %>
  </div>
<% end %>

<%= render 'signaturepad' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Invoices.Form.init();
  });
</script>
