<h1><%= t Invoice.model_name.human + 's' %>
  <span class="submenu"><%= icon_button_link_to "#{t 'download_invoices', default: 'Download invoices'}", export_invoices_path(:format => :csv), icon: "download-alt", large: true, level: "primary", white: true, id: 'export' %></span>
</h1>

<div class="clearfix">
  <%= form_tag '', :method => :get, :class => "form-search" do %>
    <%= hidden_field_tag 'sort', params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <%= text_field_tag 'search', params[:search] %>
    <%= submit_tag "#{t 'search'}", class: 'btn', name: nil %>
  <% end %>
  <%= paginate @invoices %>
</div>

<table class="table table-striped">
  <tr>
    <th><input type="checkbox" value="" id="select_all"></th>
    <th><%= sortable 'removal_at', t('removal_at') %></th>
    <th><%= t 'invoice_code' %></th>
    <th><%= sortable 'clients.name', 'Client' %></th>
    <th><%= Quote.model_name.human %></th>
    <th>Grand Total</th>
    <th>Total</th>
    <th><%= t 'payments_received', default: 'Payments received' %></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= check_box_tag 'invoices[]', invoice.id, false, class: "invoice", id: "invoice_#{invoice.id}" %></td>
    <td><%= l invoice.quote.removal_at.to_date %> <%= status_tag("#{ t 'signed'}", level: 'success') if invoice.signed? %></td>
    <td><%= link_to "##{invoice.code}", quote_invoice_path(invoice.quote.code) %></td>
    <td><%= link_to "#{invoice.client.name} (#{invoice.client.code})", client_path(invoice.client) %></td>
    <td><%= link_to "##{invoice.quote.code}", quote_path(invoice.quote) %></td>
    <td><%= number_to_currency(invoice.grand_total) %></td>
    <td><%= link_to number_to_currency(invoice.total), quote_invoice_path(invoice.quote) %></td>
    <td><%= number_to_currency(invoice.payments.sum(:amount)) %></td>
  </tr>
<% end %>
</table>

<%= paginate @invoices %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#select_all').click(function() {
      if ($(this).is(":checked")) {
        $('.invoice').attr('checked', true);
      } else {
        $('.invoice').attr('checked', false);
      }
    });
    $('#export').click(function(e) {
      e.preventDefault();
      var selected_invoices = $('.invoice:checked');
      if (selected_invoices.length > 0) {
        var invoice_ids = selected_invoices.map(function () {
          return this.value;
        }).get();
        window.location = $('#export').attr('href') + "?" + $.param({"invoices[]": invoice_ids});
        // return false;
      } else {
        alert("Please select invoices to export first.");
      }
    });
  });
</script>