<h2><%= Invoice.model_name.human %>
  <span class='submenu'>
    <% if @invoice.signed? %>
      <%= icon_button_link_to "#{t 'approved'}", '#', icon: 'ok', level: 'success', large: true, class: 'disabled', white: true %>
    <% else %>
      <%= button_link_to "#{t 'edit'}", edit_quote_invoice_path(@quote), level: 'inverse', large: true %>
      <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, id: "approve" %>  
    <% end %>
  </span>
</h2>

<p><b>Client:</b> <%= @invoice.quote.client.name %></p>
<p><b><%= t "removal_at" %>:</b> <%= l @invoice.quote.removal_at.to_date %></p>
<%= section %>
<br />

<% if @invoice.total_time_spent > 0 %>
  <div class="row">
    <div class="span4"><%= t 'time_spent' %> (<%= @invoice.time_spent  %> * <%= number_to_currency(@invoice.rate) %>)</div>
    <div class="span2 money"><%= number_to_currency(@invoice.total_time_spent) %></div>
  </div>
<% end %>  

<% if @invoice.gas > 0 %>
  <div class="row">
    <div class="span4">Gas</div>
    <div class="span2 money"><%= number_to_currency(@invoice.gas) %></div>
  </div>
<% end %>

<% if @invoice.total_overtime > 0 %>
  <% @invoice.overtimes.each do |overtime| %>
  <div class="row">
    <div class="span4">Overtime (<%= overtime.duration %> * <%= number_to_currency(overtime.rate) %>)</div>
    <div class="span2 money"><%= number_to_currency(overtime.amount) %></div>
  </div>
  <% end %>
<% end %>

<!-- SUPPLIES -->
<% if @invoice.invoice_supplies.any? %>
  <h3 class="inv_section"><%= Supply.model_name.human + 's' %></h3>
  <% @invoice.invoice_supplies.each do |inv_supply| %>
    <div class="row">
      <div class="span4"><%= inv_supply.supply.name %> (<%= inv_supply.quantity %> * <%= number_to_currency(inv_supply.supply.price) %>)</div>
      <div class="span2 money"><%= number_to_currency(inv_supply.quantity * inv_supply.supply.price) %></div>
    </div>
  <% end %>
<% end %>

<!-- FORFAIT -->
<% if @invoice.forfaits.any? %>
  <h3 class="inv_section">Forfaits</h3>
  <% @invoice.forfaits.each do |forfait| %>
    <div class="row">
      <div class="span4"><%= forfait.name %></div>
      <div class="span2 money"><%= number_to_currency(forfait.price) %></div>
    </div>
  <% end %>
<% end %>

<!-- FRANCHISE CANCELLATION -->
<% if @invoice.quote.quote_confirmation.franchise_cancellation %>
<div class="row">
  <div class="span4"><%= t 'franchise_cancelation' %></div>
  <div class="span2 money"><%= number_to_currency(current_account.franchise_cancellation_amount) %></div>
</div>
<% end %>

<!-- INSURANCE -->
<% if @invoice.total_insurance_increase > 0 %>
<div class="row">
  <div class="span4"><%= t 'insurance_increase' %></div>
  <div class="span2 money"><%= number_to_currency(@invoice.total_insurance_increase) %></div>
</div>
<% end %>

<% if @invoice.total_discount > 0 %>
<div class="row">
  <div class="span4"><%= t 'discount' %></div>
  <div class="span2 money">- <%= number_to_currency(@invoice.total_discount) %></div>
</div>
<% end %>

<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span2"><div style="height: 1px; background: #CCC; margin-top: 10px;"></div></div>
</div>
<!-- GRAND TOTAL -->
<div class="row">
  <div class="span4"><h3>Grand Total</h3></div>
  <div class="span2 money"><h3><%= number_to_currency(@invoice.grand_total) %></h3></div>
</div>
<!-- TAX 1 -->
<% if @invoice.tax1_amount > 0 %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= @invoice.tax1_name %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax1_amount) %></h3></div>
</div>
<% end %>
<!-- TAX 2 -->
<% if @invoice.tax2_amount > 0 %>
<div class="row">
  <div class="span4"><h3 style="font-weight: normal;"><%= @invoice.tax2_name %></h3></div>
  <div class="span2 money"><h3 style="font-weight: normal;"><%= number_to_currency(@invoice.tax2_amount) %></h3></div>
</div>
<% end %>

<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span2"><div style="height: 1px; background: #CCC; margin-top: 10px;"></div></div>
</div>
<div class="row">
  <div class="span4" style="text-align:right;"><h3>Total</h3></div>
  <div class="span2 money"><h3><%= number_to_currency(@invoice.total) %></h3></div>
</div>

<div class="row">
  <br />
  <div class="span12"><h3><%= t 'payment_method' %>: <%= t @invoice.payment_method %> <%= "(#{t @invoice.credit_card_type})" if @invoice.payment_method == "credit" %></h3></div>
</div>


<% unless @invoice.comment.blank? %>
<%= section %>
<p><i><%= simple_format(@invoice.comment) %></i></p>
<% end %>

<!-- INVOICE SIGNED -->
<% if @invoice.signed? %>
  <% unless @invoice.client_satisfaction.blank? %>
    <%= section %>
    <br />
    <h3><%= t 'client_satisfaction' %></h3>
    <p><i><%= simple_format(@invoice.client_satisfaction) %></i></p>
  <% end %>
  
  <div id="signature" style="width: 200px;" class='signed'>
    <div class="sigWrapper"> 
      <canvas class="pad" width="500"></canvas>
      <p><%= @invoice.signer_name.titleize %><br><%= l @invoice.signed_at, :format => :short %></p> 
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      var sig = '<%= @invoice.signature.html_safe %>';
      var api = $('#signature').signaturePad({displayOnly:true});
      api.regenerate(sig);
    });
  </script>
<!-- INVOICE NOT SIGNED -->  
<% else %>
  <br />
  <h3><%= t 'client_satisfaction' %></h3>
  <%= text_area_tag :client_satisfaction, @invoice.client_satisfaction, :class => "span6", :rows => 5 %>

  <%= render 'signaturepad' %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#submit-invoice').click(function() {
        $('#frm-invoice').submit();
        return false;
      });
      $('.sigPad').signaturePad({drawOnly:true, lineTop: 120});
      $('#client_satisfaction').keyup(function() {
        $('#invoice_client_satisfaction').val($(this).val());
      });
    });
  </script>
<% end %>