<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @truck.name %>
</p>

<p>
  <b>Plate:</b>
  <%= @truck.plate %>
</p>


<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
