<p>
  <b><%= t 'name' %>:</b>
  <%= @truck.name %>
</p>

<p>
  <b><%= t 'plate' %>:</b>
  <%= @truck.plate %>
</p>

<p>
  <b>Disponible:</b>
  <%= @truck.available? ? "#{t 'yessai'}" : "#{t 'nope'}" %>
</p>