<span class='floatr'>
  <%= link_to "Current Month", :month => (Date.today.beginning_of_month).strftime("%Y-%m") %> | 
  <%= link_to "Weekly" %> |
  <%= link_to "Monthly" %>
</span>

<div id="calendar">
  <%= calendar_for(@quotes, :year => @date.year, :month => @date.month, :html => {:class => 'monthly'}) do |t| %>
    <h2 id="month">
      <%= link_to '&#x2190;'.html_safe, :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to "&#x2192;".html_safe, :month => (@date.end_of_month+1).strftime("%Y-%m") %>
    </h2>
    <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
    <%= t.day(:day_method => :removal_at) do |day, quotes| %>
      <%= day.day %>
      <ul>
      <% quotes.each do |quote| %>
        <li><%= quote.removal_at.strftime("%H:%M") %> <%= link_to quote.client.name, '', :class => "client", "data-content" => "#{render('popover', quote: quote)}", "data-original-title" => "#{quote.removal_at.strftime('%H:%M')} #{quote.client.name}", :style => "position: relative;" %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".client")
      .popover({
          // offset: 10,
          trigger: 'manual',
          animate: false,
          html: true,
          placement: 'top',
          template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
      }).click(function(e) {
          e.preventDefault() ;
      }).mouseenter(function(e) {
          $(this).popover('show');
      });
  });
</script>