<%= simple_form_for([@storage, @annex]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => false, :placeholder => "#{t 'title'}", :input_html => {:class => 'span10'} %>
    <%= render 'layouts/text_formatting' %>
    <%= f.input :body, :as => :text, :label => false, :input_html => {:id => "wysihtml5", :class => 'span10'} %>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<%= render 'layouts/text_formatting_script' %>