<h1>Listing annexes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th>Storage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @annexes.each do |annex| %>
  <tr>
    <td><%= annex.name %></td>
    <td><%= annex.body %></td>
    <td><%= annex.storage_id %></td>
    <td><%= link_to 'Show', annex %></td>
    <td><%= link_to 'Edit', edit_annex_path(annex) %></td>
    <td><%= link_to 'Destroy', annex, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Annex', new_annex_path %>
