<h1>Listing users</h1>

<p><%= icon_button_link_to 'New User', new_user_path, :icon => "plus", :level => "primary", :white => true %></p>

<%= paginate @users %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "first_name", "Name" %></th>
    <th><%= sortable "username" %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "role" %></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.full_name, user %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @users %>

