<h2><%= @user.full_name %>
  <span class='submenu'><%= button_link_to "#{t 'edit'}", edit_user_path(@user), level: "inverse", large: true %></span>
</h2>

<p>
  <b><%= t 'username' %>:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b><%= t 'role' %>:</b>
  <%= @user.role %>
</p>

<p>
  <b><%= t 'language' %>:</b>
  <%= @user.localization.upcase %>
</p>