<h2><%= @user.full_name %>
  <span class='submenu'><%= button_link_to 'Edit', edit_user_path(@user), level: "inverse", large: true %></span>
</h2>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Language:</b>
  <%= @user.localization %>
</p>