<%= simple_form_for(@client, html: {class: @ajax ? 'ajax' : ''}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone1, input_html: {class: 'formatted_phone'} %>
    <%= f.input :phone2, input_html: {class: 'formatted_phone'} %>
    <%= f.input :email %>
    <%= f.input :commercial, as: :radio_buttons %>
    <%= f.input :billing_contact, wrapper_html: {class: 'commercial', style: "display: #{@client.commercial? ? 'block' : 'none'};"} %>
    <%= f.input :department, wrapper_html: {class: 'commercial', style: "display: #{@client.commercial? ? 'block' : 'none'};"} %>

    <% @client.build_address unless @client.address %>
      <%= f.fields_for :address do |fa| %>
        <%= fa.input :address, required: true %>
        <%= fa.input :city, required: true %>
        <%= fa.input :postal_code %>
        <%= fa.input :province, collection: Address::PROVINCE, required: true %>
      <% end %>
  </div>
  
  <div class="form-actions actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("#client_commercial_true").click(function () {
    $(".commercial").show();
  });
  $("#client_commercial_false").click(function () {
    $(".commercial").hide();
  });
</script>