<h1>Clients
  <span class="submenu"><%= icon_button_link_to "#{t 'new'} #{Client.model_name.human}", new_client_path, icon: 'plus', large: true, level: 'primary', white: true, remote: true %></span>
</h1>

<div class="clearfix">
  <%= form_tag '', :method => :get, :class => "form-search" do %>
    <%= hidden_field_tag 'sort', params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <%= text_field_tag 'search', params[:search] %>
    <%= submit_tag "#{t 'search'}", class: 'btn', name: nil %>
  <% end %>
  <%= paginate @clients %>
</div>

<table class="table table-striped">
  <tr>
    <th><%= sortable "name", "#{t 'name', default: 'Name'}" %></th>
    <th><%= t 'phone' %>1</th>
    <th><%= t 'phone' %>2</th>
    <th><%= t 'billing_address' %></th>
    <th><%= sortable "email" %></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.name, client %> <%= status_tag('comm.') if client.commercial? %></td>
    <td><%= client.phone1 %></td>
    <td><%= client.phone2 %></td>
    <td><%= address_for(client.address) %></td>
    <td><%= mail_to client.email, client.email %></td>
    <td><%= link_to "#{t 'edit'}", edit_client_path(client) %></td>
    <td><%= link_to "#{t 'destroy'}", client, confirm: "#{t 'are_you_sure'}", method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @clients %>
