<h2>
  <%= @client.name %> <%= content_tag(:span, 'commercial', :class => "badge") if @client.commercial? %>
  <span class='submenu'><%= button_link_to "#{t 'edit'}", edit_client_path(@client), level: "inverse", large: true  %></span>
</h2>

<p>
  <b><%= t 'phone' %>1:</b>
  <%= @client.phone1 %>
</p>

<p>
  <b><%= t 'phone' %>2:</b>
  <%= @client.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @client.email, @client.email %>
</p>

<br />

<p>
  <h6><%= t 'billing_address' %></h6>
  <%= address_for(@client.address) %>
</p>

<br />

<% if @client.quotes.any? %>
  <h3><%= Quote.model_name.human + 's' %><span class='submenu'><%= icon_button_link_to "#{t 'new_quote', default: 'New quote'}", new_quote_path(client_id: @client.id), icon: "plus", white: true, level: "inverse", large: true  %></span></h3><br />
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th><%= t 'removal_at', default: 'Removal at' %></th>
      <th><%= t 'creator', default: 'Creator' %></th>
      <th><%= Invoice.model_name.human %></th>
      <th></th>
      <th></th>
    </tr>

  <% @client.quotes.each do |quote| %>
    <tr>
      <td><%= link_to quote.code, quote %> <%= status_tag(t(quote.status)) %></td>
      <td><%= l quote.removal_at, :format => :long %></td>
      <td><%= quote.creator.full_name %></td>
      <td><%= link_to Invoice.model_name.human, quote_invoice_path(quote) %></td>
      <td><%= link_to "#{t 'edit'}", edit_quote_path(quote) %></td>
      <td><%= link_to "#{t 'destroy'}", quote, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>