<h1>Documents
  <span class="submenu"><%= icon_button_link_to "#{t 'new'} document", new_document_path, icon: "plus", large: true, level: "inverse", white: true %></span>
</h1>

<%= paginate @documents %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "#{t 'name'}" %></th>
    <th><%= t 'updated_at' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= link_to document.name, document %> <%= status_tag("#{t 'add_by_default', :default => 'Default'}") if document.default? %></td>
    <td><%= l document.updated_at.to_date %></td>
    <td><%= link_to "#{t 'edit'}", edit_document_path(document) %></td>
    <td><%= link_to "#{t 'print'}", print_document_path(document, :format => :pdf) %></td>
    <td><%= link_to "#{t 'destroy'}", document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @documents %>