<h1>Listing storages
  <span class='submenu'><%= icon_button_link_to 'New Storage', new_storage_path, icon: "plus", level: "inverse", large: true, white: true %></span>
</h1>

<%= paginate @storages %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Address</th>
    <th>Internal</th>
    <th>Default Price</th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= link_to storage.name, storage %></td>
    <td><%= address_for(storage.address) %></td>
    <td><%= storage.internal? ? "Interne" : "Externe" %></td>
    <td><%= number_to_currency(storage.price) %></td>
    <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
    <td><%= link_to 'Destroy', storage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @storages %>