<h1><%= Storage.model_name.human + 's' %>
  <span class='submenu'><%= icon_button_link_to "#{t 'new_storage', default: 'New storage'}", new_storage_path, icon: "plus", level: "inverse", large: true, white: true %></span>
</h1>

<%#= paginate @storages %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "#{t 'name'}" %></th>
    <th><%= t 'address' %></th>
    <th><%= t 'price' + " " + 'per_month' %></th>
    <th><%= t 'insurance' %></th>
    <th>Annexes</th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= link_to storage.name, storage %> <%= status_tag("#{t 'internal'}") if storage.internal? %></td>
    <td><%= address_for(storage.address) %></td>
    <td><%= number_to_currency(storage.price) %></td>
    <td><%= number_to_currency storage.insurance_amount %></td>
    <td><%= storage.internal? ? pluralize(storage.annexes.size, "#{Annex.model_name.human}") : '' %></td>
    <td><%= link_to "#{t 'edit'}", edit_storage_path(storage) %></td>
    <td><%= link_to "#{t 'destroy'}", storage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%#= paginate @storages %>