<h2><%= @storage.name %> <%= content_tag(:span, (@storage.internal? ? "#{t 'internal'}" : "#{t 'external'}"), :class => 'badge') %>
  <span class='submenu'><%= button_link_to "#{t 'edit'}", edit_storage_path(@storage), level: "inverse", large: true %></span>
</h2>

<p>
  <b><%= t 'price' %>:</b>
  <% if @storage.price.present? %>
    <%= number_to_currency(@storage.price) %> <%= t 'per_month' %>
  <% end %>
</p> 

<p>
  <b><%= t 'insurance_amount', default: 'Insurance amount' %>:</b>
  <%= number_to_currency(@storage.insurance_amount) %>
</p>
 
<p>
  <b><%= t 'address' %>:</b>
  <%= address_for(@storage.address) %>
</p>
<br />

<% if @storage.internal? %>
<h3><%= Annex.model_name.human + 's' %>
  <span class='submenu'><%= icon_button_link_to "#{t 'new_annex'}", new_storage_annex_path(@storage), icon: "plus", level: "inverse", medium: true, white: true %></span>
</h3>

<% if @storage.annexes.any?  %>
<table class="table">
  <thead>
    <tr>
      <th><%= t 'name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @storage.annexes.each do |annex| %>
    <tr>
      <td><%= link_to annex.name, storage_annex_path(@storage, annex) %> 
          <span style='float:right;'><%= link_to "#{t 'edit'}", edit_storage_annex_path(@storage, annex) %> | 
          <%= link_to "#{t 'destroy'}", storage_annex_path(@storage, annex), confirm: 'Are you sure?', method: :delete %></td>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>