<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storage.name %>
</p>

<p>
  <b>Default:</b>
  <%= @storage.default %>
</p>

<p>
  <b>Account:</b>
  <%= @storage.account_id %>
</p>


<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
