<h1><%= t Supply.model_name.human + 's' %>
  <span class='submenu'><%= icon_button_link_to "#{t 'new'} #{Supply.model_name.human}", new_supply_path, icon: "plus", level: "inverse", large: true, white: true %></span>
</h1>

<%= paginate @supplies %>

<table class="table table-striped">
  <tr>
    <th><%= t 'name' %></th>
    <th><%= t 'status' %></th>
    <th><%= t 'price' %></th>
    <th></th>
    <th></th>
  </tr>

<% @supplies.each do |supply| %>
  <tr>
    <td><%= link_to supply.name, supply %></td>
    <td><% if supply.active? %>
        <%= content_tag(:span, "#{t 'active'}", :class => 'label label-success') %>
      <% else %>
        <%= content_tag(:span, "#{t 'inactive'}", :class => 'label label-warning') %>
      <% end %></td>
    <td><%= number_to_currency(supply.price) %></td>
    <td><%= link_to "#{t 'edit'}", edit_supply_path(supply) %></td>
    <td><%= link_to "#{t 'destroy'}", supply, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @supplies %>