<%= render 'quotes/q_header', quote: @quote %>

<div class="span6 well col2 odd">
  <h3>From <%= '(Internal)' if @quote.internal_address %></h3>
  <div class="storage">
  <% if @quote.from_address.has_storage? %>
    <h6>Storage: <%= @quote.from_address.storage.name %></h6>
    <%= address_for(@quote.from_address.storage.address) %>
  <% else %>
    <h6>Address</h6>
    <%= address_for(@quote.from_address.address) %>        
  <% end %>
  </div>
</div>

<% unless @quote.internal_address? %>
<div class="span6 well col2 even">
  <h3>To</h3>
  <% if !@quote.to_addresses.blank? %>
    <% for to_address in @quote.to_addresses %>
      <div class="storage">
      <% if to_address.has_storage? %>
        <h6>Storage: <%= to_address.storage.name %></h6>
        <%= address_for(to_address.storage.address) %>
      <% else %>
        <h6>Address</h6>
        <%= address_for(to_address.address) %>        
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<%= section %>
<%= render 'quotes/price' %>

<%= render 'quotes/optional' %>

<%= render 'quotes/confirmation' %>

<% if @quote.signed? %>
  <div id="signature" style="width: 200px; clear:both;" class='signed'>
    <div class="sigWrapper"> 
      <canvas class="pad" width="500"></canvas>
      <p><%= @quote.signer_name.titleize %><br><%= l @quote.signed_at, :format => :short %></p>
    </div>
  </div>
<% else %>
  <div class="well">
    <h2><%= t 'terms_and_conditions', default: 'Terms & Conditions' %>
      <span class='submenu'>
        <% if @quote.signed? %>
          <%= link_to "#{t 'approved'}", '#', :class => 'btn btn-success btn-large disabled' %>
        <% end %>
      </span>
    </h2>
    <% if @quote.documents.present? %>
      <% @quote.documents.each_with_index do |document, index| %>
        <%= div_for(document, :style => "display: #{index == 0 ? 'block' : 'none' };", :class => index == @quote.documents.size - 1 ? "last" : "") do %>
          <h3 class='with_margin'><%= document.name %></h3>
          <%= simple_format(document.body) %>
          <p class='approve_doc'>
            <%= check_box_tag "approve_document_#{document.id}", document.id, false, :class => "mark-read" %>
            <%= label_tag "approve_document_#{document.id}", "#{t 'i_approve'}", :style => "display: inline-block;" %>
            <% if @quote.documents.size > 1 %>
            <%= button_link_to "#{t 'next'}", '#', large: true, level: "success", white: true, class: "next disabled" %>
            <% end %>
            <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, style: 'display: none;', class: "approve" %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <div class="document last">
        <p class='approve_doc'>
          <%= check_box_tag "approve_document_1", '1', false, :class => "mark-read" %>
          <%= label_tag "approve_document_1", "#{t 'i_approve'}", :style => "display: inline-block;" %>
          <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, style: 'display: none;', class: "approve" %>
        </p>
      </div>
    <% end %>  
  </div>
<% end %>

<%= render 'signaturepad' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    <% if @quote.signed? %>
      var sig = '<%= @quote.signature.html_safe %>';
      var api = $('#signature').signaturePad({displayOnly:true});
      api.regenerate(sig);
    <% else %>
      Quote.Terms.init();  
    <% end %>
  });
</script>