<%= simple_nested_form_for(@invoice, :url => mobile_quote_invoice_path(@quote), :remote => true, :html => {:id => "edit-invoice"}) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <div class="control-group float optional">
      <%= f.label :time_spent %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :time_spent, :class => 'span1 input-append' %><span class="add-on"><i class="icon-time"></i></span> heure(s)
        </div>
      </div>
    </div>
    <div class="control-group float optional" id="change-rate-field">
      <%= f.label :rate %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :rate, :class => 'span1 input-append' %><span class="add-on">$</span> par heure
        </div>
      </div>
    </div>
    <div class="control-group float optional">
      <%= f.label :gas %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :gas, :class => 'span1 input-append' %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <%= content_tag "div", id: "overtimes" do %>
      <%= f.fields_for :overtimes %>
      <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_overtime'}", :overtimes, :class => "btn btn-primary add-link", :id => "add-overtime" %>
    <% end %>
    
    <%= f.input :payment_method, required: false, :as => :radio_buttons, :collection => payment_method_options, :item_wrapper_class => "inline", :wrapper_html => {:id => "payment_methods"} %>
    <%= f.input :credit_card_type, :collection => credit_card_type_options, :include_blank => false, :wrapper_html => {:id => "credit_card_type", :style => "display: #{@invoice.payment_method == 'credit' ? 'block' : 'none'};"}  %>
    
    <% if @invoice.quote.quote_confirmation.franchise_cancellation %>
    <div class="control-group float optional">
      <%= f.label :franchise_cancellation %>
      <div class="controls">
        <div class='input-append'>
          <%= text_field_tag :franchise_cancellation, current_account.franchise_cancellation_amount, :class => 'span1 input-append', :disabled => true %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <% end %>
    
    <% if @invoice.total_insurance_increase > 0 %>
    <div class="control-group float optional">
      <%= f.label :insurance_increase %>
      <div class="controls">
        <div class='input-append'>
          <%= text_field_tag :insurance_increase, @invoice.total_insurance_increase, :class => 'span1 input-append', :disabled => true %><span class="add-on">$</span>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="control-group float optional">
      <%= f.label :discount %>
      <div class="controls">
        <div class='input-append'>
          <%= f.text_field :discount, :class => 'span1 input-append' %><span class="add-on">$</span>
        </div>
      </div>
    </div>
  </div>
  
  <%= section %>
  <h3><%= Supply.model_name.human + 's' %></h3>
  <%= content_tag "div", id: "supply-list", data: {supplies: current_account.supplies.all } do %>
    <%= f.fields_for :invoice_supplies %>
    <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_supply'}", :invoice_supplies, :class => "btn btn-primary add-link", :id => "add-supply" %>
  <% end %>
  
  <%= section %>
  <h3>Forfaits</h3>
  <%= f.association :forfaits, :collection => current_account.forfaits.all.map{|s| [s.name_with_price, s.id]}, :input_html => {:id => "forfaits", :class => "chzn", "data-placeholder" => "#{t 'type_to_select_forfaits'}", :multiple => true, :style => "width: 508px;", :data => {:forfaits => current_account.forfaits.all}} %>
  
  <%= section %>
  <%= f.input :comment, :input_html => {:class => "live-input", :style => "width:500px; height:150px;"} %>
  
  <%= section %>
  <h3>Grand Total: <span id="grand-total"><%= number_to_currency(@invoice.grand_total) %></span></h3>
  
  <div class="form-actions" style="display: none;">
    <%= submit_or_cancel(f) %>
    <%= submit_tag 'Preview', style: "display: none;", :id => "submit-to-preview" %>
  </div>
<% end %>