<%= simple_form_for @deposit, url: quote_deposit_path(@quote), remote: true, format: :js, html: {class: @ajax ? 'ajax' : ''} do |f| %>
  <%= f.input :amount, label: t('amount') %>
  <%= f.input :date do %>
    <%= text_field_tag '', @deposit.try(:date).try(:strftime, t('date.formats.default')), class: "datepicker" %>
    <%= f.input_field :date, as: :hidden, class: "datepicker-alt" %>
  <% end %>
  
  <%= f.input :payment_method, as: :radio_buttons, collection: payment_method_options, item_wrapper_class: "inline", wrapper_html: {id: "payment_methods"} %>
  <%= f.input :credit_card_type, collection: credit_card_type_options, include_blank: true, wrapper_html: {id: "credit_card_type", style: "display: none;"}  %>
  
  <div class="form-actions actions">
    <%= button_link_to "#{t 'delete_deposit', default: 'Delete Deposit'}", quote_deposit_path(@quote), method: :delete, class: 'btn btn-danger pull-left', confirm: "#{t 'are_you_sure'}" if @current_user.manager? && !@deposit.new_record? %>
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('#payment_methods input:radio').on('click', function() {
    if ($(this).val() == "credit") {
      $('#credit_card_type').slideDown();
    } else {
      $('#credit_card_type').slideUp();
    }
  });
  $('.datepicker').on('click', function () {
     <% if I18n.locale == :fr %>
     $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["fr"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
     <% else %>
     $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["en-GB"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
     <% end %>  
   });
</script>