<div id="new-payment-section">
  <p style="display: <%= (payment.errors.present? || @invoice.amount_left > 0) ? 'none' : 'block' %>;" id="legend">
    <%= t "invoice_fully_paid", default: 'Looks like invoice is fully paid but click' %> <%= link_to "#{t 'here'}", '#', id: 'show-form' %>
    <%= t "add_new_payment", default: 'to add new payment' %>.
  </p>
  <div id="new-payment-container" style="display: <%= (payment.errors.present? || @invoice.amount_left > 0) ? 'block' : 'none' %>;">
    <h3><%= t 'new_payment' %></h3>

    <% payment.amount = @invoice.amount_left if payment.new_record? %>
    <%= simple_form_for([@quote, :invoice, payment], remote: true, html: {id: 'payment-form'}) do |f| %>
      <%= f.error_notification %>

        <%= f.input :amount, :wrapper => :append do %>
          <%= f.input_field :amount, :class => "span1 input-append" %><%= content_tag :span, '$', :class => "add-on" %>
        <% end %>

        <%= f.input :tip, :wrapper => :append do %>
          <%= f.input_field :tip, :class => "span1 input-append" %><%= content_tag :span, '$', :class => "add-on" %>
        <% end %>

        <%= f.input :date do %>
          <%= text_field_tag '', payment.try(:date).try(:strftime, t('date.formats.default')), class: "datepicker" %>
          <%= f.input_field :date, as: :hidden, :class => "datepicker-alt" %>
        <% end %>
        
        <%= f.input :payment_method, :as => :radio_buttons, :collection => payment_method_options, :item_wrapper_class => "inline", :wrapper_html => {:id => "payment_methods"} %>
        <%= f.input :credit_card_type, :collection => credit_card_type_options, :include_blank => true, :wrapper_html => {:id => "credit_card_type", :style => "display: #{payment.payment_method == 'credit' ? 'block' : 'none'};"}  %>
        <%= f.input :transaction_number, label: t('transaction_number'), :wrapper_html => {:id => "transaction_number", :style => "display: #{['credit', 'debit'].include?(payment.payment_method) ? 'block' : 'none'};"} %>
    <% end %>
  </div>
</div>