<div id="payments-modal" class="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= t 'payments' %></h3>
  </div>
  <div class="modal-body">
    <p style="margin-bottom: 20px;" class="alert alert-info">
      <b><%= t 'amount_due', default: 'Amount due' %>:</b> <%= number_to_currency @invoice.total %> 
      <span id="amount_remaining" style="display: <%= @payments.any? ? 'inline-block' : 'none' %>;">
         || <b><%= t 'amount_left', default: 'Amount to receive' %>:</b> <span id="amount_left"><%= number_to_currency(@invoice.amount_left) %></span>
    </p>
    <div id="payments-container" style="display: <%= @payments.any? ? 'block' : 'none' %>">
      <table class="table table-condensed table-bordered" id="payments">
        <tr>
          <th width="20%">Date</th>
          <th width="25%"><%= t 'amount' %></th>
          <th width="15%"><%= t 'tip' %></th>
          <th><%= t 'payment_method' %></th>
          <th></th>
        </tr>
        <% @payments.each do |payment| %>
          <%= render 'payments/payment', payment: payment %>
        <% end %>
      </table>
    </div>

    <%= render 'payments/form', payment: @invoice.payments.build %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t 'close' %></a>
    <a href="#" class="btn btn-primary" id="submit-payment"><%= t 'save' %></a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#payment_methods input:radio').live('click', function() {
    if (($(this).val() == "credit") || ($(this).val() == "debit")) {
      $('#transaction_number').show();
    } else {
      $('#transaction_number').hide();
      $('#transaction_number input').val('');
    }
    if ($(this).val() == "credit") {
      $('#credit_card_type').show();
    } else {
      $('#credit_card_type').hide();
      $('#credit_card_type select').val('');
    }
  });
  $("#submit-payment").click(function(e) {
    e.preventDefault();
    $('#payment-form').submit();
  });
  $('.datepicker').live('click', function () {
    <% if I18n.locale == :fr %>
    $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["fr"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
    <% else %>
    $(this).datepicker('destroy').datepicker($.extend($.datepicker.regional["en-GB"], {altFormat: "yy/mm/dd", altField: $(this).next()})).focus();
    <% end %>  
  });
  $('#show-form').live('click', function(e) {
    e.preventDefault();
    $("#new-payment-container").show();
    $('#legend').hide();
  });
</script>