<%= content_tag_for :tr, payment do %>
  <td><%= l payment.date %></td>
  <td><%= number_to_currency payment.amount %></td>
  <td><%= number_to_currency(payment.tip) if payment.tip.present? %></td>
  <td><%= payment.payment_option_details %></td>
  <td><%= button_link_to 'x', quote_invoice_payment_path(payment.payable.quote, payment), level: 'danger', remote: true, method: :delete, data: {confirm: t("are_you_sure")}, class: "#{!current_user.manager? ? 'disabled' : ''}" %></td>
<% end %>
