<% 
  removable = true if local_assigns.has_key? :removable 
  title = "" unless local_assigns.has_key? :title 
  show_holder = true if removable && local_assigns.has_key?(:show_holder )
  has_storage = quote_address_form.object.has_storage?
  internal = nil
  internal = local_assigns[:internal] if local_assigns.has_key? :internal 
%>

<div class="span3 address-widget">
  <div class="<%= show_holder ? 'holder' : 'well' %> <%= title.parameterize %>">
    <div class="title">
      <h3><% if title.blank? %>&nbsp;<% else %><%= title %><% end %></h3>
      <h6>
        <% if removable %><%= quote_address_form.link_to_remove "#{t 'remove'}" %> |<% end %>
        <% if internal %><%= link_to "#{t 'internal'}", '#', :class => "internal_link" %> |<% end %>
        <%= link_to "#{t 'storage'}", '#', :class => "select-storage #{has_storage ? 'hide' : 'show' }" %>
        <%= link_to "#{t 'address'}", '#', :class => "enter-address #{has_storage ? 'show' : 'hide' }" %>
      </h6>
    </div>
    <div class="to-address <%= has_storage ? 'hide' : 'show' %>">
      <%= address_form.input :address, :required => true %>
      <%= address_form.input :city, :required => true, :input_html => { data: {autocomplete_source: cities_clients_path(:format => :json)}} %>
      <%= address_form.input :postal_code, :required => true %>
      <%= address_form.input :province, :collection => Address::PROVINCE %>
      <%= address_form.input :country, :collection => Address::COUNTRY %>
    </div>
    <!-- add storage button -->
    <div class="storage-field <%= has_storage ? 'show' : 'hide' %>">
      <%= quote_address_form.association :storage, label: "#{t 'storage'}", :input_html => {:class => "chzn-deselectable storages-list", "data-placeholder" => "Select"} %>
      <div class="insurance-container" style="display: <%= quote_address_form.object.storage && quote_address_form.object.storage.internal? ? 'block' : 'none' %>;">
        <%= quote_address_form.input :insurance, input_html: {class: 'insurance'} %>
      </div>
    </div>
  </div>
</div>