<p><b>Client:</b> <%= @report.quote.client.name %></p>
<p><b><%= t "removal_at" %>:</b> <%= l @report.quote.removal_at.to_date %></p>
<%= render 'quotes/trucks' %>
<%= section %>

<p><b><%= t 'km_start', default: 'KM start' %>:</b> <%= number_with_precision(@report.km_start, precision: 0) %></p>
<p><b><%= t 'km_end', default: 'KM end' %>:</b> <%= number_with_precision(@report.km_end, precision: 0) %></p>
<p><b><%= t 'km_total', default: 'KM total' %>:</b> <%= number_with_precision(@report.total_km, precision: 0) %></p>
<p><b><%= t 'gas_helper', default: 'Gas (liters)' %>:</b> <%= number_with_precision(@report.gas, precision: 0) %></p>
<p><b><%= t 'start_time', default: 'Start time' %>:</b> <%= @report.start_time.strftime("%H:%M") unless @report.start_time.blank? %></p>
<p><b><%= t 'end_time', default: 'End time' %>:</b> <%= @report.end_time.strftime("%H:%M") unless @report.end_time.blank? %></p>

<% if !@quote.invoice.blank? && !@quote.invoice.client_satisfaction.blank? %>
  <%= section %>
  <h3><%= t 'client_satisfaction' %></h3>
  <p><i><%= simple_format(@quote.invoice.client_satisfaction) %></i></p>
<% end %>

<% unless @report.comment.blank? %>
  <%= section %>
  <h3><%= t 'comment_from_team_lead', default: 'Comment' %></h3>
  <p><i><%= simple_format(@report.comment) %></i></p>
<% end %>

<% unless @report.removal_men.blank?  %>
  <h3><%= t 'removal_men', default: "Removal Men" %></h3>
  <ul>
    <% @report.removal_men.each do |removal_man| %>
      <li><%= removal_man.full_name %></li>
    <% end %>
  </ul>
<% end %>

<%= section %>
<p><b><%= t 'distance_in_qc', default: 'Distance in Québec' %>:</b> <%= @report.distance_in_qc %></p>
<p><b><%= t 'distance_in_on', default: 'Distance in Ontario' %>:</b> <%= @report.distance_in_on %></p>
<p><b><%= t 'distance_in_nb', default: 'Distance in New Brunswick' %>:</b> <%= @report.distance_in_nb %></p>
<p><b><%= t 'distance_other', default: 'Distance other' %>:</b> <%= @report.distance_other %></p>

<!-- REPORT SIGNED -->
<% if @report.signed? %>
  <div id="signature" style="width: 200px;" class='signed'>
    <div class="sigWrapper"> 
      <canvas class="pad" width="500"></canvas>
      <p><%= @report.signer_name.titleize %><br><%= l @report.signed_at, :format => :short %></p> 
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      var sig = '<%= @report.signature.html_safe %>';
      var api = $('#signature').signaturePad({displayOnly:true});
      api.regenerate(sig);
    });
  </script>
<!-- REPORT NOT SIGNED -->  
<% else %>
  <%= render 'reports/signaturepad', mobile: mobile %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#submit-report').click(function() {
        $('#frm-report').submit();
        return false;
      });
      $('.sigPad').signaturePad({drawOnly:true, lineTop: 120});
    });
  </script>
<% end %>