<% url = mobile ? mobile_quote_report_path(@quote) : quote_report_path(@quote) %>
<%= simple_nested_form_for(@report, :url => url, :method => :put, :remote => true, :html => {:id => "edit-report"}) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :km_start, :wrapper => :append do %>
      <%= f.input_field :km_start, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.input :km_end, :wrapper => :append do %>
      <%= f.input_field :km_end, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.input :gas, :wrapper => :append do %>
      <%= f.input_field :gas, :class => "span1 input-append" %><%= content_tag :span, "$", :class => "add-on" %>
    <% end %>
    
    <div class="control-group float optional">
      <%= f.label :start_time %>
      <div class="controls">
        <div class='input-append'>
          <%= select_time @report.start_time, :minute_step => 15, :ignore_date => true, :prefix => "report[start_time]" %>
        </div>
      </div>
    </div>
    <div class="control-group float optional">
      <%= f.label :end_time %>
      <div class="controls">
        <div class='input-append'>
          <%= select_time @report.end_time, :minute_step => 15, :ignore_date => true, :prefix => "report[end_time]" %>
        </div>
      </div>
    </div>
    
    <%= f.input :distance_in_qc, :wrapper => :append do %>
      <%= f.input_field :distance_in_qc, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.input :distance_in_on, :wrapper => :append do %>
      <%= f.input_field :distance_in_on, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.input :distance_in_nb, :wrapper => :append do %>
      <%= f.input_field :distance_in_nb, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.input :distance_other, :wrapper => :append do %>
      <%= f.input_field :distance_other, :class => "span1 input-append" %><%= content_tag :span, "km", :class => "add-on" %>
    <% end %>
    
    <%= f.association :removal_men, :label => "Déménageurs", :collection => current_account.users.removal_men.all.map{|s| [s.full_name, s.id]}, :input_html => {:class => "chzn", "data-placeholder" => "Type to select removal man", :id => "removal-men-#{@report.id}", :multiple => true, :style => "width: 360px;"} %>
       
  </div>
  
  <%= section %>
  <%= f.input :comment, :input_html => {:class => "live-input", :style => "width: 500px; height:150px;"} %>
  
  <div class="form-actions" style="display: none;">
    <%= submit_or_cancel(f) %>
    <%= submit_tag 'Preview', style: "display: none;", :id => "submit-to-preview" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".chzn").chosen();
    Reports.Form.init(<%= @report.quote.invoice ? @report.quote.invoice.time_spent : 'null' %>);
  });
</script>