<h1><%= t 'removal_control', default: 'Removal internal control' %></h1>

<%= paginate @reports %>

<table class="table table-striped">
  <tr>
    <th>Client</th>
    <th><%= Quote.model_name.human %></th>
    <th><%= Truck.model_name.human %></th>
    <th><%= t 'removal_team_lead' %></th>
    <th>Signed Date</th>
    <!-- <th><%#= t 'payment_method' %></th> -->
    <th><%= t 'amount', default: 'Amount' %></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= link_to report.quote.client.name, client_path(report.quote.client) %> <%= status_tag('comm.') if report.quote.client.commercial? %></td>
    <td><%= link_to "##{report.quote.code}", quote_path(report.quote) %></td>
    <td><%= report.quote.trucks.map(&:name_with_plate).to_sentence %></td>
    <td><%= report.quote.removal_leader.full_name if report.quote.removal_leader_id.present? %></td>
    <td>
      <% if report.signed_at.present? %>
        <%= l report.signed_at.to_date %>
      <% else %>
        <%= status_tag 'N/A' %>
      <% end -%>
    </td>
    <!-- <td><%#= report.quote.invoice.payment_method if report.quote.invoice %></td> -->
    <td>
      <% if report.quote.invoice %>
        <%= link_to number_to_currency(report.quote.invoice.total), quote_invoice_path(report.quote) %>
      <% else %>
        <%= status_tag 'N/A' %>
      <% end -%>
    </td>
    <td>
      <%= icon_button_link_to t('edit', default: 'Edit'), edit_quote_report_path(report.quote), icon: 'pencil' %>
      <% if report && report.removal_men.any? %>
        <%= icon_button_link_to t('details', default: 'Details'), quick_view_quote_report_path(report.quote), icon: 'list-alt', remote: true, class: "details", :"data-type" => 'html' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @reports %>

<script type="text/javascript">
  $(function() {
    $(".details").bind('ajax:success', function(e, data, status, xhr) {
      $(data).dialog2({
          title: "<%= t('report_details', default: 'Report details') %>", 
          id: "report-details"
      });
    }).bind('ajax:error', function() {
      $("<p class='alert alert-error'><%= t('error_msg') %></p>").dialog2({
          title: "Server Error", 
          id: "server-notice"
      });
    });
  });
</script>