<h1>
  <%= t 'removal_control', default: 'Removal internal control' %>
  <% if current_user.manager? %>
    <span class="submenu">
      <%= button_link_to t('stats'), stats_reports_path, large: true, level: "default" %>
      <%= button_link_to Payment.model_name.human + 's', payments_reports_path, large: true, level: "default" %>
    </span>
  <% end %>
</h1>

<%= paginate @reports %>

<table class="table table-striped">
  <tr>
    <th></th>
    <th style="width: 80px;"><%= sortable 'removal_at', t('removal_at') %></th>
    <th>Client</th>
    <th><%= sortable "code", Quote.model_name.human %></th>
    <th><%= Truck.model_name.human %></th>
    <th><%= t 'removal_team_lead' %></th>
    <th><%= t 'signed_date', default: 'Signed Date' %></th>
    <th><%= t 'payments_received', default: 'Payments' %></th>
    <th style="width: 80px;"></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.verified? ? status_tag(t 'verified') : button_link_to("#{t 'verify', default: 'Verify'}", verify_quote_report_path(report.quote), method: :post, level: "success", data: {confirm: "#{t 'please_confirm'}"}) %></td>
    <td><%= report && report.removal_men.any? ? link_to(l(report.quote.removal_at.to_date), quick_view_quote_report_path(report.quote), remote: true, class: "details", :"data-type" => 'html') : l(report.quote.removal_at.to_date) %></td>
    <td><%= link_to report.quote.client.name, client_path(report.quote.client) %> <%= status_tag('comm.') if report.quote.client.commercial? %></td>
    <td><%= link_to "#{report.quote.code}", quote_path(report.quote) %></td>
    <td><%= report.quote.trucks.map(&:name_with_plate).to_sentence %></td>
    <td><%= report.quote.removal_leader.full_name if report.quote.removal_leader_id.present? %></td>
    <td><%= report.signed_at.present? ? (l report.signed_at.to_date) : (status_tag 'N/A') %></td>
    <td>
      <% if report.quote.invoice && report.quote.invoice.payments.any? %>
        <%= link_to number_to_currency(report.quote.invoice.payments.sum(&:total)), quote_invoice_path(report.quote) %>
      <% else %>
        <%= status_tag 'N/A' %> <%= link_to "##{report.quote.invoice.code}", quote_invoice_path(report.quote) unless !report.quote.invoice %>
      <% end %>
    </td>
    <td><%= icon_button_link_to t('edit'), edit_quote_report_path(report.quote), icon: 'pencil' %></td>
  </tr>
<% end %>
</table>

<%= paginate @reports %>

<script type="text/javascript">
  $(function() {
    $(".details").bind('ajax:success', function(e, data, status, xhr) {
      $(data).dialog2({
          title: "<%= t('report_details', default: 'Report details') %>", 
          id: "report-details"
      });
    }).bind('ajax:error', function() {
      $("<p class='alert alert-error'><%= t('error_msg') %></p>").dialog2({
          title: "Server Error", 
          id: "server-notice"
      });
    });
  });
</script>