<h1><%= t 'stats', default: 'Stats' %></h1>

<div class="well">
  <%= form_tag stats_reports_path, method: :get, class: 'form-inline' do |f| %>
    <%= hidden_field_tag 'searching', 1 %>
    <%= hidden_field_tag 'sort', params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <%= t 'client_type', default: 'Client Type' %>
    <%= select_tag :client_type, options_for_select([["#{t 'commercial'}", 1], ["#{t 'residential'}", 0]], params[:client_type]), prompt: "#{t 'both'}" %>
    <%= t 'from_date', default: 'From' %>
    <div class="input-append">
      <%= text_field_tag '', params[:from], class: 'datepicker', style: 'width: 100px;' %>
      <%= hidden_field_tag :from, params[:from], :class => "datepicker-alt" %>
      <span class="add-on clear">×</span>
    </div>
    <%= t 'to_date', default: 'And' %>
    <div class="input-append">
      <%= text_field_tag '', params[:to], class: 'datepicker', style: 'width: 100px;' %>
      <%= hidden_field_tag :to, params[:to], :class => "datepicker-alt" %>
      <span class="add-on clear">×</span>
    </div>
    <%= select_tag :sale_representative_id, options_for_select(current_account.users.order('first_name').map{|c| [c.full_name, c.id]}, params[:sale_representative_id]), prompt: "#{t 'select'}" %>
    <%= submit_tag "#{t 'search'}", class: 'btn', name: nil, disable_with: "#{t 'searching'}" %>
  <% end %>
</div>

<% if params[:searching] %>
  <% if @invoices.present? %>
    <table class="table table-striped">
      <tr>
        <th><%= sortable 'clients.name', t('client') %></th>
        <th><%= sortable "invoices.code", Invoice.model_name.human %></th>
        <th>Grand Total</th>
        <th>Total</th>
      </tr>

      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice.client.name_with_code, invoice.client %></td>
          <td><%= link_to invoice.code, quote_invoice_path(invoice.quote) %></td>
          <td><%= number_to_currency invoice.grand_total %></td>
          <td><%= number_to_currency invoice.total %></td>
        </tr>
      <% end %>
    </table>

    <%= paginate @invoices %>

    <div class='table_bottom'>
      <%= pluralize(@invoices.total_count, Invoice.model_name.human) %> <%= t 'for_total_amount_of' %> <%= number_to_currency(@invoices.map{|inv| inv.total}.sum) %>
    </div>

  <% else %>
    <div class="alert alert-warning"><%= t 'no_search_results_found' %>.</div>
  <% end %>
<% end %>