<% if user_signed_in? %>
  <div class="subnav">
    <%= tabs_tag :builder => BootstrapSubnavBuilder, :open_tabs => { :class => "nav nav-pills" } do |tab| %>
      <%= tab.quotes Quote.model_name.human, quotes_path %>
      <%= tab.calendar Calendar.model_name.human, monthly_quotes_path %>
      <%= tab.contracts 'Contracts', '' %>
      <%= tab.clients   'Clients', clients_path %>
      <%= tab.invoices   'Invoices', '' %>
      <%= tab.documents   'Documents', documents_path %>
    <% end %>
  </div>
<% end %>