<% if user_signed_in? %>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to "Quotes" %></li>
      <li><%= link_to "Contracts" %></li>
      <li><%= link_to "Clients" %></li>
      <li><%= link_to "Invoices" %></li>
      <li><%= link_to "Documents", documents_path %></li>
    </ul>
  </div>
<% end %>