<!DOCTYPE html>
<html>
<head>
  <title><%= user_signed_in? ? current_user.account.company_name : "Moving" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" class="<%= yield(:body_class) || '' %>">
  <%= render 'layouts/navbar' %>
  
  <div class="container">
    <%= render 'layouts/subnav' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>

</body>
</html>
