<!DOCTYPE html>
<html>
<head>
  <title><%= user_signed_in? ? current_user.account.company_name : "Moving" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "mobile", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" class="<%= yield(:body_class) || '' %>">
  
  <div id="root">
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="subnav">
      <div class="container">
      <%= tabs_tag :builder => BootstrapSubnavBuilder, :open_tabs => { :class => "nav nav-pills" } do |tab| %>
        <%= tab.today 'Today', root_path %>
        <% if @quote %>
          <%= tab.terms 'Terms', quick_view_quote_path(@quote) %>
          <% unless @quote.invoice.blank? %>
            <% if @quote.invoice.signed? %>
              <%= tab.invoice Invoice.model_name.human, quote_invoice_path(@quote, @quote.invoice) %>
            <% else %>
              <%= tab.invoice Invoice.model_name.human, edit_quote_invoice_path(@quote, @quote.invoice) %>
            <% end %>
          <% end %>
          <%= tab.report 'Report', '' %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</body>
</html>
