<p class="alert alert-info"><%= t '.compound_helper' %></p>

<%= f.fields_for :taxes do |fa| %>
  <%= fa.input :province, :label => fa.object.is_default ? "#{t 'default_tax', default: 'Default Tax'}" : "#{t 'tax'}", :required => false do %>
    <%= fa.input_field :is_default, :as => :hidden %>
    <% unless fa.object.is_default %>
      <%= fa.input_field :province, :as => :select, :collection => Address::PROVINCE, :item_wrapper_class => 'inline', :prompt => "#{t 'select_province', default: 'Select Province'}" %>
    <% end %>  
    <%= fa.input_field :tax1_label, :placeholder => "#{t 'tax_name'}", :class => 'span1' %>
    <div class='input-append'> 
      <%= fa.input_field :tax1, :placeholder => "#{t 'tax_rate'}", :class => 'span1' %>
      <span class="add-on">%</span>
    </div>
    <%= fa.input_field :tax2_label, :placeholder => "#{t 'tax_name'}", :class => 'span1' %>
    <div class='input-append'> 
      <%= fa.input_field :tax2, :placeholder => "#{t 'tax_rate'}", :class => 'span1' %>
      <span class="add-on">%</span>
    </div>
    <span><%= t '.compound_tax' %></span>
    <%= fa.check_box :compound %>
    <% if fa.object.is_default %>
      <span>(<%= t 'default_tax_helper', default: 'apply to all provinces not defined' %>)</span>
    <% else %>
      <%= fa.link_to_remove "#{t 'remove'}" %>
    <% end %> 
  <% end %>
<% end %>

<%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_tax', default: 'Add Tax'}", :taxes, :class => "btn btn-primary add-link", :id => "add-tax" %>