<%= simple_nested_form_for(@account, :url => account_url, :method => :put, :html => {:multipart => true} ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab"><%= t 'companies', default: 'Companies' %></a></li>
        <li><a href="#2" data-toggle="tab"><%= t '.taxes', default: 'Taxes' %></a></li>
        <li><a href="#3" data-toggle="tab"><%= t '.insurance', default: 'Insurance' %></a></li>
        <li><a href="#4" data-toggle="tab"><%= t 'settings', default: 'Settings' %></a></li>
      </ul>
    <div class="tab-content" style="width: auto;">
      <div class="tab-pane active" id="1">
        <%= f.fields_for :companies do |fc| %>
          <div class="company">
            <div class="span6">
              <%= fc.input :company_name %>
              <%= fc.input :active, disabled: fc.object.is_default unless fc.object.new_record? %>
              <%= fc.input :email %>
              <%= fc.input :phone %>
              <%= fc.input :website %>
              <%= fc.input :logo %>
              <%= fc.fields_for :address do |fa| %>
                <%= fa.input :address, :required => true %>
                <%= fa.input :city, :required => true %>
                <%= fa.input :postal_code, :required => true %>
                <%= fa.input :province, :collection => Address::PROVINCE %>
                <%= fa.input :country, :collection => Address::COUNTRY %>
              <% end %>
              <% if fc.object.new_record? %>
                <%= fc.link_to_remove "Remove" %> (once created, company cannot be deleted. Please use inactive instead)
              <% end -%> 
            </div>
            <div class="span4">
              <span class='floatr' style='float:right;'><%= image_tag fc.object.logo.url(:thumb) if fc.object.logo.present? %></span>
            </div>
          </div>
        <% end -%>
        <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_company', default: 'Add company'}", :companies, :class => "btn btn-primary add-link", :id => "add-company" %>
      </div>
          
      <div class="tab-pane" id="2">
        <p><%= t '.compound_helper' %></p>
        <%= f.fields_for :taxes do |fa| %>
          <%= fa.input :province, :label => fa.object.is_default ? 'Default Tax' : 'Tax', :required => false do %>
            <%= fa.input_field :is_default, :as => :hidden %>
            <% unless fa.object.is_default %>
              <%= fa.input_field :province, :as => :select, :collection => Address::PROVINCE, :item_wrapper_class => 'inline', :prompt => "--Select Province--" %>
            <% end -%>  
            <%= fa.input_field :tax1_label, :placeholder => "Tax1 Name", :class => 'span1' %>
            <div class='input-append'> 
              <%= fa.input_field :tax1, :placeholder => "Tax1 Rate", :class => 'span1' %>
              <span class="add-on">%</span>
            </div>
            <%= fa.input_field :tax2_label, :placeholder => "Tax2 Name", :class => 'span1' %>
            <div class='input-append'> 
              <%= fa.input_field :tax2, :placeholder => "Tax2 Rate", :class => 'span1' %>
              <span class="add-on">%</span>
            </div>
            <span><%= t '.compound_tax' %></span>
            <%= fa.check_box :compound %>
            <% if fa.object.is_default %>
              <p style="margin-top: 3px;"><i>(apply to all provinces that are not defined)</i></p>
            <% else %>
              <%= fa.link_to_remove "Remove" %>
            <% end -%> 
          <% end %>
        <% end %>
        <%= f.link_to_add content_tag(:i, '', :class => "icon-plus icon-white") + "#{t 'add_tax', default: 'Add Tax'}", :taxes, :class => "btn btn-primary add-link", :id => "add-tax" %>
      </div>
      
      <div class="tab-pane" id="3">
        <div class="control-group float optional">
          <%= f.label :franchise_cancellation_amount %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :franchise_cancellation_amount, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
        <div class="control-group float optional">
          <%= f.label :insurance_coverage_short_distance %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :insurance_coverage_short_distance, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
        <div class="control-group float optional">
          <%= f.label :insurance_coverage_long_distance %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :insurance_coverage_long_distance, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
      </div>
    
      <div class="tab-pane" id="4">
        <div class="control-group float optional <%= 'error' unless @account.errors.messages[:invoice_start_number].blank? %>">
          <%= f.label :invoice_start_number %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.number_field :invoice_start_number, :class => 'span2' %>
              <%= f.full_error :invoice_start_number %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>