<%= simple_nested_form_for(@account, :url => account_url, :method => :put, :html => {:multipart => true} ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab"><%= t 'companies', default: 'Companies' %></a></li>
        <li><a href="#2" data-toggle="tab"><%= t '.taxes', default: 'Taxes' %></a></li>
        <li><a href="#3" data-toggle="tab"><%= t '.insurance', default: 'Insurance' %></a></li>
        <li><a href="#4" data-toggle="tab"><%= t 'accounting', default: 'Accounting' %></a></li>
      </ul>
    <div class="tab-content" style="width: auto;">
      <div class="tab-pane active" id="1">
        <%= render 'companies', :f => f %>
      </div>
          
      <div class="tab-pane" id="2">
        <%= render 'tax', :f => f %>
      </div>
      
      <div class="tab-pane" id="3">
        <div class="control-group float optional">
          <%= f.label :franchise_cancellation_amount %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :franchise_cancellation_amount, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
        <div class="control-group float optional">
          <%= f.label :insurance_coverage_short_distance %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :insurance_coverage_short_distance, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
        <div class="control-group float optional">
          <%= f.label :insurance_coverage_long_distance %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.text_field :insurance_coverage_long_distance, :class => 'span1 input-append' %><span class="add-on">$</span>
            </div>
          </div>
        </div>
      </div>
    
      <div class="tab-pane" id="4">
        <div class="control-group float optional <%= 'error' unless @account.errors.messages[:invoice_start_number].blank? %>">
          <%= f.label :invoice_start_number %>
          <div class="controls">
            <div class='input-append'> 
              <%= f.number_field :invoice_start_number, :class => 'span2' %>
              <%= f.full_error :invoice_start_number %>
            </div>
          </div><br><br>
          <p class='alert alert-warning'><%= t 'accounting_intro_helper', default: 'Define receivable accounts to export transactions' %>.</p>
          <%= f.input :accounting_moving_account_number, placeholder: "4200" %>
          <%= f.input :accounting_tip_account_number, placeholder: "4206" %>
          <%= f.input :accounting_insurance_account_number, placeholder: "4210" %>
          <%= f.input :accounting_supply_account_number, placeholder: "4207" %>
          <%= f.input :accounting_payment_cash_account_number, placeholder: "1056" %>
          <%= f.input :accounting_payment_debit_account_number, placeholder: "1065" %>
          <%= f.input :accounting_payment_credit_account_number, placeholder: "1066" %>
          <%= f.input :accounting_payment_cheque_account_number, placeholder: "1060" %>   
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>